.wp-block-ainoblocks-badge {

	margin: 0 0 24px;

	& span {
		padding: 7px 16px;
		font-size: 13px;
		line-height: 0.92;
		background: #1765d8;
		color: #fff;
	}

	@media (min-width: 48em) {
		margin: 0 0 32px;
	}
}
