.wp-block-ainoblocks-badge {
	display: flex;

	span {
		color: #111111;
		border: 1px solid #111111;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
	}

	.badge-icon {
		position: relative;
		fill: red;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	&.size {

		&__ssx {

			.badge-content {
				padding: 3px 7px;
				font-size: 0.75rem;
			}
		}

		&__sx {

			.badge-content {
				padding: 4px 9px;
				font-size: 0.875rem;
			}
		}

		&__s {

			.badge-content {
				padding: 4px 11px;
				font-size: 1rem;
			}
		}

		&__m {

			.badge-content {
				padding: 5px 13px;
				font-size: 1.125rem;
			}

			.badge-icon {
				width: 45px;
				height: 30px;
				border-right: none;

				svg {
					background: red;
					width: 18px;
					height: 18px;
					left: 13px;
					top: 5px;
				}
			}
		}

		&__l {

			.badge-content {
				padding: 5px 15px;
				font-size: 1.25rem;
			}
		}

		&__xl {

			.badge-content {
				padding: 6px 17px;
				font-size: 1.375rem;
			}
		}

		&__xxl {

			.badge-content {
				padding: 6px 19px;
				font-size: 1.5rem;
			}
		}

		&__xxxl {

			.badge-content {
				padding: 7px 21px;
				font-size: 1.625rem;
			}
		}

		&__xxxxl {

			.badge-content {
				padding: 7px 23px;
				font-size: 1.875rem;
			}
		}

		@media (min-width: 48em) {

			&__xl {
			
				.badge-content {
					font-size: 1.5rem;
				}
			}

			&__xxl {
			
				.badge-content {
					font-size: 1.75rem;
				}
			}

			&__xxxl {
			
				.badge-content {
					font-size: 2rem;
				}
			}
			
			&__xxxxl {
			
				.badge-content {
					font-size: 2.25rem;
				}
			}
		}

		@media (min-width: 64em) {

			&__l {
			
				.badge-content {
					font-size: 1.375rem;
				}
			}
			
			&__xl {
			
				.badge-content {
					font-size: 1.625rem;
				}
			}
			
			&__xxl {
			
				.badge-content {
					font-size: 1.875rem;
				}
			}
			
			&__xxxl {
			
				.badge-content {
					font-size: 2.25rem;
				}
			}
			
			&__xxxxl {
			
				.badge-content {
					font-size: 2.625rem;
				}
			}
		}

		@media (min-width: 80em) {

			&__m {

				.badge-content {
					font-size: 1.25rem;
				}

				.badge-icon {
					width: 47px;
					height: 32px;
	
					svg {
						width: 20px;
						height: 20px;
					}
				}
			}

			&__l {
	
				.badge-content {
					font-size: 1.5rem;
				}
			}
	
			&__xl {
	
				.badge-content {
					font-size: 1.75rem;
				}
			}
	
			&__xxl {
	
				.badge-content {
					font-size: 2.125rem;
				}
			}
	
			&__xxxl {
	
				.badge-content {
					font-size: 2.5rem;
				}
			}
	
			&__xxxxl {
	
				.badge-content {
					font-size: 3rem;
				}
			}
		}
	}
}