.block-editor-block-list__block[data-type="ainoblocks/arrow-button"] {

	&[data-align="center"] {
		text-align: center;
	}

	&[data-align="right"] {
		/*!rtl:ignore*/
		text-align: right;
	}

	.block-editor-url-input input[type=text] {
		width: 100%;
	}
}

.editor-styles-wrapper[style*="width: 780px;"] {

}

.editor-styles-wrapper[style*="width: 360px;"] {

}