.wp-block-ainoblocks-featured-content {
	display: block;

	grid-template-rows: auto;
	align-items: center;
	grid-template-areas: "featured-content-media featured-content-content";
	grid-template-columns: 48% auto;

	@media (min-width: 48.500em) {
		display: grid;
	}

	&.no-padding-top {
		padding-top: 0;
	}

	&.no-padding-bottom {
		padding-bottom: 0;
	}

	&.is-vertically-aligned-top {
		align-items: start;
	}

	&.is-vertically-aligned-bottom {
		align-items: end;
	}

	&.is-text-aligned-center {
		text-align: center !important;
	}

	.wp-block-ainoblocks-featured-content__media {
		grid-area: featured-content-media;
		margin: 0;
		padding-bottom: 24px;

		@media (min-width: 48.500em) {
			padding-right: 24px;
			padding-bottom: 0;
		}
	}

	.wp-block-ainoblocks-featured-content__content {
		grid-area: featured-content-content;
		margin: 0;

		.fc-subtitle {
			margin-bottom: 16px;
		}

		.fc-heading {
			margin-top: 0;
			margin-bottom: 0;
		}

		.fc-text {
			margin-top: 16px;
			margin-bottom: 0;
		}

		@media (min-width: 48.500em) {
			padding-left: 24px;
			padding-right: 0;
		}

		.wp-block-ainoblocks-multiple-buttons {
			margin-top: 24px;

			@media (min-width: 48.500em) {
				margin-top: 32px;
			}
		}
	}

	&.has-media-right {
		grid-template-areas: "featured-content-content featured-content-media";
		grid-template-columns: auto 48%;

		.wp-block-ainoblocks-featured-content__content {

			@media (min-width: 48.500em) {
				padding-left: 0;
				padding-right: 24px;
			}
		}

		.wp-block-ainoblocks-featured-content__media {

			@media (min-width: 48.500em) {
				padding-left: 24px;
				padding-right: 0;
			}
		}
	}

	&.has-media-below {
		display: flex;
		flex-direction: column-reverse;

		.wp-block-ainoblocks-featured-content__media {
			padding-top: 40px;
			width: 100%;
			padding-bottom: 0;
		}

		@media (min-width: 48.500em) {

			.wp-block-ainoblocks-featured-content__content {
				padding-left: 0;
				max-width: 680px;
				grid-template-areas: none;
				align-self: flex-start;
			}

			&.is-text-aligned-center {

				.wp-block-ainoblocks-featured-content__content {
					align-self: center;
				}
			}

			&.is-text-aligned-right {

				.wp-block-ainoblocks-featured-content__content {
					align-self: flex-end;
				}
			}

			.wp-block-ainoblocks-featured-content__media {
				padding-top: 72px;
				padding-right: 0;
				grid-template-areas: none;
			}
		}
	}

	&.is-text-aligned-center {

		.wp-block-ainoblocks-featured-content__content {

			.fc-subtitle,
			.fc-heading,
			.fc-text {
				text-align: center;
			}

			.wp-block-ainoblocks-multiple-buttons {
				justify-content: center !important;
			}
		}
	}

	&.is-text-aligned-right {

		.wp-block-ainoblocks-featured-content__content {

			.fc-subtitle,
			.fc-heading,
			.fc-text {
				text-align: right;
			}

			.wp-block-ainoblocks-multiple-buttons {
				justify-content: flex-end;
			}
		}
	}
}

.wp-block-ainoblocks-featured-content > figure > img,
.wp-block-ainoblocks-featured-content > figure > video {
		max-width: unset;
		width: 100%;
		vertical-align: middle;
	}
