.wp-block-ainoblocks-featured-content {
	display: block;
	padding-top:48px;
	padding-bottom:48px;

	@media (min-width: 48.500em) {
		display: grid;
		padding-top: 144px;
		padding-bottom: 144px;
	}

	&.no-padding-top {
		padding-top: 0;
	}

	&.no-padding-bottom {
		padding-bottom: 0;
	}

	grid-template-rows: auto;
	align-items: center;
	grid-template-areas: "featured-content-media featured-content-content";
	grid-template-columns: 48% auto;

	&.is-vertically-aligned-top {
		align-items: start;
	}

	&.is-vertically-aligned-center {
		align-items: center;
	}

	&.is-vertically-aligned-bottom {
		align-items: end;
	}

	.wp-block-ainoblocks-featured-content__media {
		grid-area: featured-content-media;
		margin: 0;
		padding-bottom: 24px;

		@media (min-width: 48.500em) {
			padding-right: 24px;
		}
	}

	.wp-block-ainoblocks-featured-content__content {
		grid-area: featured-content-content;
		margin: 0;

		.fc-subtitle {
			margin-bottom: 16px;
		}

		.fc-heading {
			margin-top: 0;
			margin-bottom: 0;
		}

		.fc-text {
			margin-top: 16px;
			margin-bottom: 0;
		}

		@media (min-width: 48.500em) {
			padding-left: 24px;
			padding-right: 0;
		}

		.wp-block-ainoblocks-multiple-buttons {
			margin-top: 24px;

			@media (min-width: 48.500em) {
				margin-top: 32px;
			}
		}
	}

	&.has-media-right {
		grid-template-areas: "featured-content-content featured-content-media";
		grid-template-columns: auto 48%;

		.wp-block-ainoblocks-featured-content__content {

			@media (min-width: 48.500em) {
				padding-left: 0;
				padding-right: 24px;
			}
		}

		.wp-block-ainoblocks-featured-content__media {

			@media (min-width: 48.500em) {
				padding-left: 24px;
				padding-right: 0;
			}
		}
	}
}

.wp-block-ainoblocks-featured-content > figure > img,
.wp-block-ainoblocks-featured-content > figure > video {
		max-width: unset;
		width: 100%;
		vertical-align: middle;
	}
