.wp-block-ainoblocks-featured-content {
	display: block;
	padding-top:48px;
	padding-bottom:48px;


	@media (min-width: 48.500em) {
		display: grid;
		padding-top: 144px;
		padding-bottom: 144px;
	}

	grid-template-rows: auto;
	align-items: center;
	grid-template-areas: "featured-content-media featured-content-content";
	grid-template-columns: 48% auto;

	&.is-vertically-aligned-top {
		align-items: start;
	}

	&.is-vertically-aligned-center {
		align-items: center;
	}

	&.is-vertically-aligned-bottom {
		align-items: end;
	}

	.wp-block-ainoblocks-featured-content__media {
		grid-area: featured-content-media;
		margin: 0;

		@media (min-width: 48.500em) {
			padding-right: 24px;
		}
	}

	.wp-block-ainoblocks-featured-content__content {
		grid-area: featured-content-content;
		margin: 0;

		@media (min-width: 48.500em) {
			padding-left: 24px;
			padding-right: 0;
		}
	}


	&.has-media-right {
		grid-template-areas: "featured-content-content featured-content-media";
		grid-template-columns: auto 48%;

		.wp-block-ainoblocks-featured-content__content {

			@media (min-width: 48.500em) {
				padding-left: 0;
				padding-right: 24px;
			}
		}

		.wp-block-ainoblocks-featured-content__media {

			@media (min-width: 48.500em) {
				padding-left: 24px;
				padding-right: 0;
			}
		}
	}
}


.wp-block-ainoblocks-featured-content > figure > img,
.wp-block-ainoblocks-featured-content > figure > video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
}

.wp-block-ainoblocks-featured-content.is-image-fill figure {
	height: 100%;
	min-height: 250px;
	background-size: cover;
}

.wp-block-ainoblocks-featured-content.is-image-fill figure > img {
	// The image is visually hidden but accessible to assistive technologies.
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
