.wp-block-ainoblocks-card {

	[class*='wp-block-'] {
		margin-bottom: 0;
	}

	box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.04);

	&.has-padding {
		padding: 40px;
	}
	&.has-border {
		border-width: 1px;
		border-style: solid;
	}

	&.shadow-a {
		box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.04);
		-webkit-box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.04);
	}
	&.shadow-b {
		box-shadow: 0 24px 48px -12px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.04);
		-webkit-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.04);
	}

	&.shadow-none {
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	p,
	blockquote {
		margin-bottom: 0;
	}
}
