.block-editor-block-list__block[data-type="ainoblocks/button"] {

	&[data-align="center"] {
		text-align: center;
	}

	&[data-align="right"] {
		/*!rtl:ignore*/
		text-align: right;
	}

	.block-editor-url-input input[type=text] {
		width: 100%;
	}
}

.editor-styles-wrapper[style*="width: 780px;"] {

	.wp-block-ainoblocks-button__link {

		&.size {

			&__xxxs {
				padding: 0.563rem 1.125rem;
				font-size: 0.75rem;
			}

			&__xxs {
				padding: 0.625rem 1.313rem;
				font-size: 0.875rem;
			}

			&__xs {
				padding: 0.75rem 1.5rem;
				font-size: 1rem;
			}

			&__s {
				padding: 0.875rem 1.688rem;
				font-size: 1.125rem;
			}

			&__m {
				padding: 0.938rem 1.875rem;
				font-size: clamp(1.125rem, 1.08333rem + 0.208333vw, 1.25rem);
			}

			&__l {
				padding: 1.125rem 2.25rem;
				font-size: clamp(1.25rem, 1.16667rem + 0.416667vw, 1.5rem);
			}

			&__xl {
				padding: 1.375rem 2.813rem;
				font-size: clamp(1.5rem, 1.375rem + 0.625vw, 1.875rem);
			}

			&__xxl {
				padding: 1.688rem 3.375rem;
				font-size: clamp(1.875rem, 1.75rem + 0.625vw, 2.25rem);
			}

			&__xxxl {
				padding: 1.688rem 3.375rem;
				font-size: clamp(2.25rem, 2rem + 1.25vw, 3rem);

				@media (min-width: 64em) {
					padding: 2.25rem 4.5rem;
				}
			}

			&__xxxxl {
				padding: 1.688rem 3.375rem;
				font-size: clamp(2.25rem, 1.75rem + 2.5vw, 3.75rem);

				@media (min-width: 64em) {
					padding: 2.813rem 5.625rem;
				}
			}
		}
	}
}

.editor-styles-wrapper[style*="width: 360px;"] {

	.wp-block-ainoblocks-button__link {

		&.size {

			&__xxxs {
				padding: 0.563rem 1.125rem;
				font-size: 0.75rem;
			}

			&__xxs {
				padding: 0.625rem 1.313rem;
				font-size: 0.875rem;
			}

			&__xs {
				padding: 0.75rem 1.5rem;
				font-size: 1rem;
			}

			&__s {
				padding: 0.875rem 1.688rem;
				font-size: 1.125rem;
			}

			&__m {
				padding: 0.938rem 1.875rem;
				font-size: clamp(1.125rem, 1.08333rem + 0.208333vw, 1.25rem);
			}

			&__l {
				padding: 1.125rem 2.25rem;
				font-size: clamp(1.25rem, 1.16667rem + 0.416667vw, 1.5rem);
			}

			&__xl {
				padding: 1.375rem 2.813rem;
				font-size: clamp(1.5rem, 1.375rem + 0.625vw, 1.875rem);
			}

			&__xxl {
				padding: 1.688rem 3.375rem;
				font-size: clamp(1.875rem, 1.75rem + 0.625vw, 2.25rem);
			}

			&__xxxl {
				padding: 1.688rem 3.375rem;
				font-size: clamp(2.25rem, 2rem + 1.25vw, 3rem);

				@media (min-width: 64em) {
					padding: 2.25rem 4.5rem;
				}
			}

			&__xxxxl {
				padding: 1.688rem 3.375rem;
				font-size: clamp(2.25rem, 1.75rem + 2.5vw, 3.75rem);

				@media (min-width: 64em) {
					padding: 2.813rem 5.625rem;
				}
			}
		}
	}
}