
.wp-block-ainoblocks-button {

	&.is-style-outline {

		.wp-block-ainoblocks-button__link {
			color: #111;
			background-color: transparent !important;
			border: 1px solid #111;
		}
	}

	&.is-style-naked {

		.wp-block-ainoblocks-button__link {
			color: #111;
			border: none;
			background-color: transparent;
		}
	}

	.wp-block-ainoblocks-button__link {
		border: none;
		border-radius: 0;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		overflow-wrap: break-word;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		color: #ffffff;
		background-color: #111;

		&:hover {
			-webkit-transform: translateY(-2px);
			transform: translateY(-2px);
		}

		&.aligncenter {
			text-align: center;
		}

		&.alignright {
			/*rtl:ignore*/
			text-align: right;
		}

		&.size {

			&__ssx {
				padding: 0.75rem;
				font-size: 0.75rem;
			}

			&__sx {
				padding: 0.875rem;
				font-size: 0.875rem;
			}

			&__s {
				padding: 1rem;
				font-size: 1rem;
			}

			&__m {
				padding: 1.125rem;
				font-size: 1.125rem;

				@media (min-width: 80em) {
					padding: 1.25rem;
					font-size: 1.25rem;
				}
			}

			&__l {
				padding: 1.125rem;
				font-size: 1.125rem;

				@media (min-width: 64em) {
					padding: 1.375rem;
					font-size: 1.375rem;
				}

				@media (min-width: 80em) {
					padding: 1.5rem;
					font-size: 1.5rem;
				}
			}

			&__xl {
				padding: 1.375rem;
				font-size: 1.375rem;

				@media (min-width: 48em) {
					padding: 1.5rem;
					font-size: 1.5rem;
				}

				@media (min-width: 64em) {
					padding: 1.625rem;
					font-size: 1.625rem;
				}

				@media (min-width: 80em) {
					padding: 1.75rem;
					font-size: 1.75rem;
				}
			}

			&__xxl {
				padding: 1.5rem;
				font-size: 1.5rem;

				@media (min-width: 48em) {
					padding: 1.75rem;
					font-size: 1.75rem;
				}

				@media (min-width: 64em) {
					padding: 1.875rem;
					font-size: 1.875rem;
				}

				@media (min-width: 80em) {
					padding: 2.125rem;
					font-size: 2.125rem;
				}
			}

			&__xxxl {
				padding: 1.625rem;
				font-size: 1.625rem;

				@media (min-width: 48em) {
					padding: 2rem;
					font-size: 2rem;
				}

				@media (min-width: 64em) {
					padding: 2.25rem;
					font-size: 2.25rem;
				}

				@media (min-width: 80em) {
					padding: 2.5rem;
					font-size: 2.5rem;
				}
			}

			&__xxxxl {
				padding: 1.875rem;
				font-size: 1.875rem;

				@media (min-width: 48em) {
					padding: 2.25rem;
					font-size: 2.25rem;
				}

				@media (min-width: 64em) {
					padding: 2.625rem;
					font-size: 2.625rem;
				}

				@media (min-width: 80em) {
					padding: 3rem;
					font-size: 3rem;
				}
			}
		}

		&.is-uppercase {
			text-transform: uppercase;
		}
	}

}