.wp-block-ainoblocks-button {
	color: #ffffff;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}
}

.wp-block-ainoblocks-button__link {
	background-color: #1765d8;
	border: none;
	border-radius: 16px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	padding: 19px 32px 18px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: inherit;
	}

	&.size-s {
		@media (min-width: 48.500em) {
			padding: 11px 24px 10px;
			border-radius: 12px;
		}
	}

	&.size-l {
		@media (min-width: 48.500em) {
			padding: 27px 40px 26px;
			border-radius: 20px;
		}
	}

	&.radius-square {
		border-radius: 0;
	}

	&.radius-circular {
		border-radius: 999em;
	}

	&.is-uppercase {
		font-size: 14px;
		text-transform: uppercase;
		line-height: 1.36;
		letter-spacing: 2px;
	}
}

.wp-block-ainoblocks-button__link {

	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;


	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	.is-style-primary & {
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);

		&:hover {
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
		}
	}

	.is-style-outline & {
		color: #1765d8;
		border: 1px solid #1765d8;
		background-color: transparent !important;
	}

	.is-style-ghost & {
		color: #1765d8;
		border: none;
		background-color: transparent;
	}
}
