
.wp-block-ainoblocks-button {

	&.is-style-outline {

		.wp-block-ainoblocks-button__link {
			background-color: transparent;
			border: 1px solid #111;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.is-style-naked {

		.wp-block-ainoblocks-button__link {
			border: none;
			background-color: transparent;
		}
	}

	.wp-block-ainoblocks-button__link {
		border: none;
		border-radius: 0;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		overflow-wrap: break-word;
		transition: all 0.25s ease;

		&:hover {
			text-decoration: none;
		}

		&.has-link-bg:hover {
			background-color: transparent !important;
		}

		&.aligncenter {
			text-align: center;
		}

		&.alignright {
			/*rtl:ignore*/
			text-align: right;
		}

		&.size {

			&__xxs {
				padding: 0.75rem 1rem;
				font-size: 0.75rem;
			}

			&__xs {
				padding: 0.875rem 1.5rem;
				font-size: 0.875rem;
			}

			&__s {
				padding: 1rem 2rem;
				font-size: 1rem;
			}

			&__m {
				padding: 1rem 2rem;
				font-size: 1.125rem;

				@media (min-width: 80em) {
					padding: 1.25rem 2.5rem;
					font-size: 1.25rem;
				}
			}

			&__l {
				padding: 1rem 2rem;
				font-size: 1.125rem;

				@media (min-width: 64em) {
					padding: 1.25rem 2.5rem;
					font-size: 1.375rem;
				}

				@media (min-width: 80em) {
					padding: 1.5rem 3rem;
					font-size: 1.5rem;
				}
			}

			&__xl {
				padding: 1rem 2rem;
				font-size: 1.375rem;

				@media (min-width: 48em) {
					padding: 1.25rem 2.5rem;
					font-size: 1.5rem;
				}

				@media (min-width: 64em) {
					padding: 1.5rem 3rem;
					font-size: 1.625rem;
				}

				@media (min-width: 80em) {
					padding: 2rem 4rem;
					font-size: 1.75rem;
				}
			}

			&__xxl {
				padding: 1.5rem 3rem;
				font-size: 1.375rem;

				@media (min-width: 48em) {
					padding: 2rem 4rem;
					font-size: 1.5rem;
				}

				@media (min-width: 64em) {
					padding: 2.5rem 5rem;
					font-size: 1.625rem;
				}

				@media (min-width: 80em) {
					padding: 3rem 6rem;
					font-size: 1.75rem;
				}
			}

			&__xxxl {
				padding: 2.5rem 5rem;
				font-size: 1.375rem;

				@media (min-width: 48em) {
					padding: 3rem 6rem;
					font-size: 1.5rem;
				}

				@media (min-width: 64em) {
					padding: 4rem 8rem;
					font-size: 1.625rem;
				}

				@media (min-width: 80em) {
					padding: 5rem 10rem;
					font-size: 1.75rem;
				}
			}

			&__xxxxl {
				padding: 4rem 8rem;
				font-size: 1.375rem;

				@media (min-width: 48em) {
					padding: 5rem 10rem;
					font-size: 1.5rem;
				}

				@media (min-width: 64em) {
					padding: 6rem 12rem;
					font-size: 1.625rem;
				}

				@media (min-width: 80em) {
					padding: 7.5rem 15rem;
					font-size: 1.75rem;
				}
			}
		}

		&.is-uppercase {
			text-transform: uppercase;
		}
	}

	&.has-282828-background-color {

		.wp-block-ainoblocks-button__link {
			background: #282828;
		}
	}

	&.has-777-b-7-d-background-color {

		.wp-block-ainoblocks-button__link {
			background: #777B7D;
		}
	}

	&.has-fcfcfc-color {

		.wp-block-ainoblocks-button__link {
			color: #fcfcfc;
		}
	}

	&.has-ffffff-color {

		.wp-block-ainoblocks-button__link {
			color: #ffffff;
		}
	}
}