.wp-block-ainoblocks-button {
	color: #ffffff;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}

	.wp-block-ainoblocks-button__link {
		background-color: #1765d8;
		border: none;
		border-radius: 16px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		overflow-wrap: break-word;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;

		&:hover {
			-webkit-transform: translateY(-2px);
			transform: translateY(-2px);
		}

		&:hover,
		&:focus,
		&:active,
		&:visited {
			color: inherit;
		}

		&.size-s {
			padding: 12px 24px;
			border-radius: 12px;

			&.fontsize-m {
				padding: 10px 24px;
			}

			&.fontsize-l {
				padding: 8px 24px;
			}
		}

		&.size-m {
			padding: 20px 32px;
			border-radius: 16px;

			&.fontsize-m {
				padding: 18px 32px;
			}

			&.fontsize-l {
				padding: 16px 32px;
			}
		}

		&.size-l {
			padding: 28px 40px;
			border-radius: 20px;

			&.fontsize-m {
				padding: 26px 40px;
			}

			&.fontsize-l {
				padding: 24px 40px;
			}
		}

		&.fontsize-s {
			font-size: 16px;
		}

		&.fontsize-m {
			font-size: 20px;
		}

		&.fontsize-l {
			font-size: 24px;
		}

		&.is-uppercase {
			text-transform: uppercase;
			letter-spacing: 2px;

			&.fontsize-s {
				font-size: 14px;

				&.size-s {
					padding: 13px 24px;
				}

				&.size-m {
					padding: 21px 32px;
				}

				&.size-l {
					padding: 29px 40px;
				}
			}

			&.fontsize-m {
				font-size: 18px;

				&.size-s {
					padding: 11px 24px;
				}

				&.size-m {
					padding: 19px 32px;
				}

				&.size-l {
					padding: 27px 40px;
				}
			}
	
			&.fontsize-l {
				font-size: 22px;

				&.size-s {
					padding: 9px 24px;
				}

				&.size-m {
					padding: 17px 32px;
				}

				&.size-l {
					padding: 25px 40px;
				}
			}
		}

		&.radius-square {
			border-radius: 0;
		}

		&.radius-circular {
			border-radius: 999em;
		}
	}

	&.is-style-primary {

		.wp-block-ainoblocks-button__link {
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

			&:hover {
				box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}

	&.is-style-outline {

		.wp-block-ainoblocks-button__link {
			color: #1765d8;
			box-shadow: inset 0 0 0 1px #1765d8;
			background-color: transparent !important;

			&.border-width-medium {
				box-shadow: inset 0 0 0 2px #1765d8;
			}

			&.border-width-thick {
				box-shadow: inset 0 0 0 3px #1765d8;
			}
		}
	}

	&.is-style-3doutline {

		.wp-block-ainoblocks-button__link {
			position: relative;
			color: #1765d8;
			box-shadow: inset 0 0 0 1px #1765d8;
			background-color: transparent !important;
			z-index: 2;

			span {
				display: inherit;
				position: relative;
				cursor: inherit;
				z-index: 2;
				transform: translate(6px, -6px);
				transition: transform 150ms ease-out;
			}

			&:before,
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
				box-shadow: inset 0 0 0 1px #1765d8;
				border-radius: .05rem;
				transition: transform 150ms ease-out;
				background: white;
			}

			&:before {
				z-index: 1;
				transform: translate(6px, -6px);
			}
		}
	}

	&.is-style-ghost {

		.wp-block-ainoblocks-button__link {
			color: #1765d8;
			border: none;
			background-color: transparent;
		}
	}
}
