.wp-block .wp-block-ainoblocks-hero__content .block-editor-inner-blocks {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-ainoblocks-hero .block-editor-inner-blocks {

	.wp-block-ainoblocks-multiple-buttons {

		.block-editor-inner-blocks {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.block-editor-block-list__block {
		margin-left: 0;
		margin-right: 0;
		max-width: unset;
	}
}

.block-editor-block-list__layout .wp-block-ainoblocks-hero .wp-block-ainoblocks-hero__container {
	padding-top: 0;
	padding-bottom: 0;
}

.wp-block-ainoblocks-hero .wp-block-ainoblocks-hero__media img,
.wp-block-ainoblocks-hero .wp-block-ainoblocks-hero__media video {
	vertical-align: middle;
	width: 100%;
}

.wp-block-ainoblocks-hero .__resizable_base__ {
	grid-area: resizer;
}

.wp-block-ainoblocks-hero .editor-media-container__resizer {
	grid-area: hero-media;
	// The resizer sets a inline width but as we are using a grid layout,
	// we set the width on container.
	width: 100% !important;
}