.wp-block-ainoblocks-hero {

	.wp-block-ainoblocks-hero__container {
		display: block;
		margin: 0 auto;
		padding-top: 48px;
		padding-bottom: 48px;

		@media (min-width: 37.5em) {
			padding-left: 24px;
			padding-right: 24px;
		}

		@media (min-width: 48.5em) {
			padding-top: 144px;
			padding-bottom: 144px;
			display: grid;
			grid-template-columns: repeat(12, 8.33333333%);
			grid-template-rows: 100%;
			align-items: center;
		}

		@media (min-width: 76.5em) {
			max-width: 1248px;
			height: auto;
			min-height: 100vh;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.is-media-overflow .wp-block-ainoblocks-hero__container {

		@media (min-width: 76.5em) {
			max-width: 86.6666667%;
		}
	}

	.wp-block-ainoblocks-hero__media,
	.wp-block-ainoblocks-hero__content,
	.block-editor-inner-blocks {
		padding-left: 24px;
		padding-right: 24px;
	}

	.wp-block-ainoblocks-hero__media {
		padding-top: 48px;
		grid-column-start: 7;
		grid-column-end: 13;
		grid-row-start: 1;

		@media (min-width: 48.5em) {
			padding-top: 0;
		}
	}

	&.has-media-left .wp-block-ainoblocks-hero__media {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	&.has-media-right.is-media-overflow .wp-block-ainoblocks-hero__media {

		@media (min-width: 76.5em) {
			margin-right: -16%;
			padding-right: 0;

			img {
				width: 100%;
			}
		}
	}

	&.has-media-below .wp-block-ainoblocks-hero__container {
		display: block;

		@media (min-width: 76.500em) {
			padding-top: 144px;
			padding-bottom: 144px;
		}

		.wp-block-ainoblocks-hero__media {
			margin-left: auto;
			margin-right: auto;
			max-width: 1248px;

			img {
				width: 100%;
			}
		}
	}

	.wp-block-ainoblocks-hero__content {
		margin-left: auto;
		margin-right: auto;
		word-break: break-word;
		width: 100%;
		z-index: 2;
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;

		@media (min-width: 48.5em) {
			padding-bottom: 0;

			.wp-block-image {
				margin-bottom: 24px;
			}
		}

		h2.hero-display {
			font-size: 40px;
			line-height: 1.2;
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;

			@media (min-width: 48.5em) {
				font-size: 78px;
				line-height: 1.09;
			}
		}

		.hero-text {
			margin-top: 16px;
		}

		.wp-block-ainoblocks-multiple-buttons {
			margin-top: 24px;
			margin-bottom: 0;

			@media (min-width: 48.5em) {
				margin-top: 32px;
			}
		}
	}

	&.hide-media {

		.wp-block-ainoblocks-hero__content {
			grid-column-start: 1;
			grid-column-end: 13;
		}
	}

	&.has-media-left .wp-block-ainoblocks-hero__content {
		grid-column-start: 7;
		grid-column-end: 13;
	}

	&.content-vertically-aligned-top .wp-block-ainoblocks-hero__content {
		align-self: start;
	}
	&.content-vertically-aligned-center .wp-block-ainoblocks-hero__content {
		align-self: center;
	}
	&.content-vertically-aligned-bottom .wp-block-ainoblocks-hero__content {
		align-self: end;

		@media (min-width: 48.5em) {
			padding-bottom: 144px;
		}
	}
}

.wp-block-ainoblocks-hero.is-image-fill figure {
	height: 100%;
	min-height: 250px;
	background-size: cover;
}

.wp-block-ainoblocks-hero.is-image-fill figure > img {
	// The image is visually hidden but accessible to assistive technologies.
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

// Frontend only
.entry-content .wp-block-ainoblocks-hero {

	&.has-media-below .wp-block-ainoblocks-hero__container {

		@media (min-width: 48.5em) {
			padding-top: 144px;
		}

		.wp-block-ainoblocks-hero__media {

			@media (min-width: 48.5em) {
				padding-top: 72px;
			}
		}
	}
}

// Hero block on Aino theme page template "Hero"
.tpl-hero {

	.site-header {
		position: absolute;
		z-index: 10;
		width: 100%;
	}

	.wp-block-ainoblocks-hero__container {
		padding-top: 104px;
	}

	&.has-header-search {

		.wp-block-ainoblocks-hero__container {
			padding-top: 160px;
		}
	}

	@media (min-width: 48.5em) {

		.wp-block-ainoblocks-hero:not(.has-media-below) {
			.wp-block-ainoblocks-hero__container {
				padding-bottom: 0;
			}
		}

		.wp-block-ainoblocks-hero__container {
			padding-top: 0;
		}

	}

	@media (min-width: 71.25em) {

		&.has-header-search {

			.wp-block-ainoblocks-hero__container {
				padding-top: 0;
			}
		}
	}
}
