.wp-block-ainoblocks-hero {

	.wp-block-ainoblocks-hero__container {
		max-width: 90rem;
		display: block;
		margin: 0 auto;
		padding-top: 48px;
		padding-bottom: 48px;

		@media (min-width: 37.5em) {
			padding-left: 24px;
			padding-right: 24px;
		}

		@media (min-width: 96em) {
			padding-left: 0;
			padding-right: 0;
		}

		@media (min-width: 48.50em) {
			padding-top: 144px;
			padding-bottom: 144px;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 100%;
			align-items: center;
		}

		@media (min-width: 76.5em) {
			height: auto;
			min-height: 100vh;
		}
	}

	&__content {

		:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-ainoblocks-hero__media,
	.wp-block-ainoblocks-hero__content,
	.block-editor-inner-blocks {
		padding-left: 24px;
		padding-right: 24px;
	}

	.wp-block-ainoblocks-hero__media {
		padding-top: 48px;
		grid-column-start: 7;
		grid-column-end: 13;
		grid-row-start: 1;

		@media (min-width: 76.50em) {
			padding-top: 0;
		}
	}

	&.media-left .wp-block-ainoblocks-hero__media {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	&.media-below .wp-block-ainoblocks-hero__container {

		grid-template-rows: auto auto;

		.wp-block-ainoblocks-hero__media {
			max-width: 90rem;
			grid-column-start: 1;
			grid-column-end: 13;
			grid-row-start: 2;
			grid-row-end: 3;
		}

		.wp-block-ainoblocks-hero__content {
			grid-row-start: 1;
			grid-row-end: 2;
		}
	}

	.wp-block-ainoblocks-hero__content {
		margin-left: auto;
		margin-right: auto;
		word-break: break-word;
		width: 100%;
		z-index: 2;
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;

		@media (min-width: 48.5em) {

			.wp-block-image {
				margin-bottom: 24px;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;
		}

		.hero-text {
			margin-top: 16px;
		}

		.wp-block-ainoblocks-multiple-buttons {
			margin-top: 24px;
			margin-bottom: 0;

			@media (min-width: 48.5em) {
				margin-top: 32px;
			}
		}
	}

	&.media-left {

		.wp-block-ainoblocks-hero__content {
			grid-column-start: 7;
			grid-column-end: 13;
		}
	}

	&.media-hide {

		.wp-block-ainoblocks-hero__content {
			grid-column-start: 1;
			grid-column-end: 13;
		}
	}

	&.content-vertically-aligned-top .wp-block-ainoblocks-hero__content {
		align-self: start;
	}

	&.content-vertically-aligned-center .wp-block-ainoblocks-hero__content {
		align-self: center;
	}

	&.content-vertically-aligned-bottom .wp-block-ainoblocks-hero__content {
		align-self: end;

		@media (min-width: 48.5em) {
			padding-bottom: 144px;
		}
	}

	&.is-image-fill figure {
		height: 100%;
		min-height: 250px;
		background-size: cover;
	}

	&.is-image-fill figure>img {
		// The image is visually hidden but accessible to assistive technologies.
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}

// Frontend only
.entry-content .wp-block-ainoblocks-hero {

	&.media-below .wp-block-ainoblocks-hero__container {

		@media (min-width: 48.5em) {
			padding-top: 144px;
		}

		.wp-block-ainoblocks-hero__media {

			@media (min-width: 48.5em) {
				padding-top: 72px;
			}
		}
	}
}

// Hero block with Aino theme page template "Hero" and "Hero Light Header"
.tpl-hero {

	.site-header {
		position: absolute;
		z-index: 10;
		width: 100%;
	}

	.wp-block-cover .wp-block-cover__inner-container {
		padding: 0;
	}

	&.has-header-search {

		.wp-block-ainoblocks-hero__container {
			padding-top: 160px;
		}
	}

	.wp-block-ainoblocks-hero {

		.wp-block-ainoblocks-hero__container {
			padding-top: 80px;
		}
	}
}