.wp-block-ainoblocks-image-text {

	margin-bottom: 32px;

	.wp-block-column & {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: 48em) {
			margin-bottom: 48px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h2.h-image-text,
	h3.h-image-text,
	h4.h-image-text {
		margin-top: 24px;
		margin-bottom: 4px;
	}

	h5.h-image-text {
		margin-top: 20px;
		margin-bottom: 4px;
	}

	h6.h-image-text {
		margin-top: 16px;
		margin-bottom: 4px;
	}
}
