.animate-delay {

	&__100 {
		-webkit-animation-delay: 100ms;
		animation-delay: 100ms;
	}

	&__200 {
		-webkit-animation-delay: 200ms;
		animation-delay: 200ms;
	}

	&__300 {
		-webkit-animation-delay: 300ms;
		animation-delay: 300ms;
	}

	&__400 {
		-webkit-animation-delay: 400ms;
		animation-delay: 400ms;
	}

	&__500 {
		-webkit-animation-delay: 500ms;
		animation-delay: 500ms;
	}

	&__600 {
		-webkit-animation-delay: 600ms;
		animation-delay: 600ms;
	}

	&__700 {
		-webkit-animation-delay: 700ms;
		animation-delay: 700ms;
	}

	&__800 {
		-webkit-animation-delay: 800ms;
		animation-delay: 800ms;
	}

	&__900 {
		-webkit-animation-delay: 900ms;
		animation-delay: 900ms;
	}

	&__1000 {
		-webkit-animation-delay: 1000ms;
		animation-delay: 1000ms;
	}
 }