.editor-styles-wrapper .wp-block-ainoblocks-grid-container .wp-block[data-type="ainoblocks/grid-item"] {
	margin-top: 0;
	margin-bottom: 0;

	.wp-block-ainoblocks-grid-item {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	width: 100%;
	max-width: 100%;
	grid-row-start: 1;
	grid-row-end: 2;

	&.no-gutter {
		padding-left: 0;
		padding-right: 0;
	}

	&.no-stacking {
		grid-row-start: auto;
		grid-row-end: auto;
	}

	&.has-stacking {
		position: absolute;
	}

	.block-list-appender {
		margin-left: 0;
		margin-right: 0;
	}

	.wp-block-ainoblocks-grid-item {
		width: 100%;
		height: 100%;

		.wp-block {
			max-width: 100%;
		}
	}

	&.col_start_d {

		&__1 {
			grid-column-start: 1;
		}

		&__2 {
			grid-column-start: 2;
		}

		&__3 {
			grid-column-start: 3;
		}

		&__4 {
			grid-column-start: 4;
		}

		&__5 {
			grid-column-start: 5;
		}

		&__6 {
			grid-column-start: 6;
		}

		&__7 {
			grid-column-start: 7;
		}

		&__8 {
			grid-column-start: 8;
		}

		&__9 {
			grid-column-start: 9;
		}

		&__10 {
			grid-column-start: 10;
		}

		&__11 {
			grid-column-start: 11;
		}

		&__12 {
			grid-column-start: 12;
		}

		&__13 {
			grid-column-start: 13;
		}
	}

	&.col_end_d {

		&__1 {
			grid-column-end: 1;
		}

		&__2 {
			grid-column-end: 2;
		}

		&__3 {
			grid-column-end: 3;
		}

		&__4 {
			grid-column-end: 4;
		}

		&__5 {
			grid-column-end: 5;
		}

		&__6 {
			grid-column-end: 6;
		}

		&__7 {
			grid-column-end: 7;
		}

		&__8 {
			grid-column-end: 8;
		}

		&__9 {
			grid-column-end: 9;
		}

		&__10 {
			grid-column-end: 10;
		}

		&__11 {
			grid-column-end: 11;
		}

		&__12 {
			grid-column-end: 12;
		}

		&__13 {
			grid-column-end: 13;
		}
	}

	&.align-self {

		&__start {
			align-self: start;
		}

		&__end {
			align-self: end;
		}

		&__center {
			align-self: center;
		}

		&__stretch {
			align-self: stretch;
		}
	}

	&.justify-self {

		&__start {
			justify-self: start;
		}

		&__end {
			justify-self: end;
		}

		&__center {
			justify-self: center;
		}

		&__stretch {
			justify-self: stretch;
		}
	}

	&.stack-order {

		&__1 {
			z-index: 1;
		}

		&__2 {
			z-index: 2;
		}

		&__3 {
			z-index: 3;
		}

		&__4 {
			z-index: 4;
		}

		&__5 {
			z-index: 5;
		}

		&__6 {
			z-index: 6;
		}

		&__7 {
			z-index: 7;
		}

		&__8 {
			z-index: 8;
		}

		&__9 {
			z-index: 9;
		}

		&__10 {
			z-index: 10;
		}
	}

	&.overlap-right {
		grid-column-end: 13;
		margin-right: -1rem;
	}

	&.overlap-left {
		grid-column-start: 1;
		margin-left: -1rem;
	}

	@media (min-width: 48em) {

		&.overlap-right {
			margin-right: -2rem;
		}

		&.overlap-left {
			margin-left: -2rem;
		}
	}

	&.mt_d {
		
		&__-1 {
			margin-top: var(--n-s-1);
		}
		
		&__-2 {
			margin-top: var(--n-s-2);
		}
		
		&__-3 {
			margin-top: var(--n-s-3);
		}
		
		&__-4 {
			margin-top: var(--n-s-4);
		}
		
		&__-5 {
			margin-top: var(--n-s-5);
		}
		
		&__-6 {
			margin-top: var(--n-s-6);
		}
		
		&__-7 {
			margin-top: var(--n-s-7);
		}
		
		&__-8 {
			margin-top: var(--n-s-8);
		}
		
		&__-9 {
			margin-top: var(--n-s-9);
		}
		
		&__-10 {
			margin-top: var(--n-s-10);
		}
		
		&__-11 {
			margin-top: var(--n-s-11);
		}
		
		&__-12 {
			margin-top: var(--n-s-12);
		}
		
		&__-13 {
			margin-top: var(--n-s-13);
		}
		
		&__-14 {
			margin-top: var(--n-s-14);
		}
		
		&__-15 {
			margin-top: var(--n-s-15);
		}
		
		&__-16 {
			margin-top: var(--n-s-16);
		}
		
		&__-17 {
			margin-top: var(--n-s-17);
		}
		
		&__-18 {
			margin-top: var(--n-s-18);
		}

		&__0 {
			margin-top: var(--s-0);
		}

		&__1 {
			margin-top: var(--s-1);
		}

		&__2 {
			margin-top: var(--s-2);
		}

		&__3 {
			margin-top: var(--s-3);
		}

		&__4 {
			margin-top: var(--s-4);
		}

		&__5 {
			margin-top: var(--s-5);
		}

		&__6 {
			margin-top: var(--s-6);
		}

		&__7 {
			margin-top: var(--s-7);
		}

		&__8 {
			margin-top: var(--s-8);
		}

		&__9 {
			margin-top: var(--s-9);
		}

		&__10 {
			margin-top: var(--s-10);
		}

		&__11 {
			margin-top: var(--s-11);
		}

		&__12 {
			margin-top: var(--s-12);
		}

		&__13 {
			margin-top: var(--s-13);
		}

		&__14 {
			margin-top: var(--s-14);
		}

		&__15 {
			margin-top: var(--s-15);
		}

		&__16 {
			margin-top: var(--s-16);
		}

		&__17 {
			margin-top: var(--s-17);
		}

		&__18 {
			margin-top: var(--s-18);
		}
	}

	&.mb_d {

		&__-1 {
			margin-bottom: var(--n-s-1);
		}
		
		&__-2 {
			margin-bottom: var(--n-s-2);
		}
		
		&__-3 {
			margin-bottom: var(--n-s-3);
		}
		
		&__-4 {
			margin-bottom: var(--n-s-4);
		}
		
		&__-5 {
			margin-bottom: var(--n-s-5);
		}
		
		&__-6 {
			margin-bottom: var(--n-s-6);
		}
		
		&__-7 {
			margin-bottom: var(--n-s-7);
		}
		
		&__-8 {
			margin-bottom: var(--n-s-8);
		}
		
		&__-9 {
			margin-bottom: var(--n-s-9);
		}
		
		&__-10 {
			margin-bottom: var(--n-s-10);
		}
		
		&__-11 {
			margin-bottom: var(--n-s-11);
		}
		
		&__-12 {
			margin-bottom: var(--n-s-12);
		}
		
		&__-13 {
			margin-bottom: var(--n-s-13);
		}
		
		&__-14 {
			margin-bottom: var(--n-s-14);
		}
		
		&__-15 {
			margin-bottom: var(--n-s-15);
		}
		
		&__-16 {
			margin-bottom: var(--n-s-16);
		}
		
		&__-17 {
			margin-bottom: var(--n-s-17);
		}
		
		&__-18 {
			margin-bottom: var(--n-s-18);
		}
		
		&__0 {
			margin-bottom: var(--s-0);
		}
		
		&__1 {
			margin-bottom: var(--s-1);
		}
		
		&__2 {
			margin-bottom: var(--s-2);
		}
		
		&__3 {
			margin-bottom: var(--s-3);
		}
		
		&__4 {
			margin-bottom: var(--s-4);
		}
		
		&__5 {
			margin-bottom: var(--s-5);
		}
		
		&__6 {
			margin-bottom: var(--s-6);
		}
		
		&__7 {
			margin-bottom: var(--s-7);
		}
		
		&__8 {
			margin-bottom: var(--s-8);
		}
		
		&__9 {
			margin-bottom: var(--s-9);
		}
		
		&__10 {
			margin-bottom: var(--s-10);
		}
		
		&__11 {
			margin-bottom: var(--s-11);
		}
		
		&__12 {
			margin-bottom: var(--s-12);
		}
		
		&__13 {
			margin-bottom: var(--s-13);
		}
		
		&__14 {
			margin-bottom: var(--s-14);
		}
		
		&__15 {
			margin-bottom: var(--s-15);
		}
		
		&__16 {
			margin-bottom: var(--s-16);
		}
		
		&__17 {
			margin-bottom: var(--s-17);
		}
		
		&__18 {
			margin-bottom: var(--s-18);
		}
	}
}

.editor-styles-wrapper[style*="width: 780px;"] {

	.wp-block-ainoblocks-grid-container .wp-block[data-type="ainoblocks/grid-item"] {

		&.col_start_t {
	
			&__1 {
				grid-column-start: 1;
			}
	
			&__2 {
				grid-column-start: 2;
			}
	
			&__3 {
				grid-column-start: 3;
			}
	
			&__4 {
				grid-column-start: 4;
			}
	
			&__5 {
				grid-column-start: 5;
			}
	
			&__6 {
				grid-column-start: 6;
			}
	
			&__7 {
				grid-column-start: 7;
			}
	
			&__8 {
				grid-column-start: 8;
			}
	
			&__9 {
				grid-column-start: 9;
			}
	
			&__10 {
				grid-column-start: 10;
			}
	
			&__11 {
				grid-column-start: 11;
			}
	
			&__12 {
				grid-column-start: 12;
			}
	
			&__13 {
				grid-column-start: 13;
			}
		}

		&.col_end_t {
	
			&__1 {
				grid-column-end: 1;
			}
	
			&__2 {
				grid-column-end: 2;
			}
	
			&__3 {
				grid-column-end: 3;
			}
	
			&__4 {
				grid-column-end: 4;
			}
	
			&__5 {
				grid-column-end: 5;
			}
	
			&__6 {
				grid-column-end: 6;
			}
	
			&__7 {
				grid-column-end: 7;
			}
	
			&__8 {
				grid-column-end: 8;
			}
	
			&__9 {
				grid-column-end: 9;
			}
	
			&__10 {
				grid-column-end: 10;
			}
	
			&__11 {
				grid-column-end: 11;
			}
	
			&__12 {
				grid-column-end: 12;
			}
	
			&__13 {
				grid-column-end: 13;
			}
		}

		&.mt_t {
		
			&__-1 {
				margin-top: var(--n-s-1);
			}
			
			&__-2 {
				margin-top: var(--n-s-2);
			}
			
			&__-3 {
				margin-top: var(--n-s-3);
			}
			
			&__-4 {
				margin-top: var(--n-s-4);
			}
			
			&__-5 {
				margin-top: var(--n-s-5);
			}
			
			&__-6 {
				margin-top: var(--n-s-6);
			}
			
			&__-7 {
				margin-top: var(--n-s-7);
			}
			
			&__-8 {
				margin-top: var(--n-s-8);
			}
			
			&__-9 {
				margin-top: var(--n-s-9);
			}
			
			&__-10 {
				margin-top: var(--n-s-10);
			}
			
			&__-11 {
				margin-top: var(--n-s-11);
			}
			
			&__-12 {
				margin-top: var(--n-s-12);
			}
			
			&__-13 {
				margin-top: var(--n-s-13);
			}
			
			&__-14 {
				margin-top: var(--n-s-14);
			}
			
			&__-15 {
				margin-top: var(--n-s-15);
			}
			
			&__-16 {
				margin-top: var(--n-s-16);
			}
			
			&__-17 {
				margin-top: var(--n-s-17);
			}
			
			&__-18 {
				margin-top: var(--n-s-18);
			}

			&__0 {
				margin-top: var(--s-0);
			}

			&__1 {
				margin-top: var(--s-1);
			}

			&__2 {
				margin-top: var(--s-2);
			}

			&__3 {
				margin-top: var(--s-3);
			}

			&__4 {
				margin-top: var(--s-4);
			}

			&__5 {
				margin-top: var(--s-5);
			}

			&__6 {
				margin-top: var(--s-6);
			}

			&__7 {
				margin-top: var(--s-7);
			}

			&__8 {
				margin-top: var(--s-8);
			}

			&__9 {
				margin-top: var(--s-9);
			}

			&__10 {
				margin-top: var(--s-10);
			}

			&__11 {
				margin-top: var(--s-11);
			}

			&__12 {
				margin-top: var(--s-12);
			}

			&__13 {
				margin-top: var(--s-13);
			}

			&__14 {
				margin-top: var(--s-14);
			}

			&__15 {
				margin-top: var(--s-15);
			}

			&__16 {
				margin-top: var(--s-16);
			}

			&__17 {
				margin-top: var(--s-17);
			}

			&__18 {
				margin-top: var(--s-18);
			}
		}

		&.mb_t {

			&__-1 {
				margin-bottom: var(--n-s-1);
			}
			
			&__-2 {
				margin-bottom: var(--n-s-2);
			}
			
			&__-3 {
				margin-bottom: var(--n-s-3);
			}
			
			&__-4 {
				margin-bottom: var(--n-s-4);
			}
			
			&__-5 {
				margin-bottom: var(--n-s-5);
			}
			
			&__-6 {
				margin-bottom: var(--n-s-6);
			}
			
			&__-7 {
				margin-bottom: var(--n-s-7);
			}
			
			&__-8 {
				margin-bottom: var(--n-s-8);
			}
			
			&__-9 {
				margin-bottom: var(--n-s-9);
			}
			
			&__-10 {
				margin-bottom: var(--n-s-10);
			}
			
			&__-11 {
				margin-bottom: var(--n-s-11);
			}
			
			&__-12 {
				margin-bottom: var(--n-s-12);
			}
			
			&__-13 {
				margin-bottom: var(--n-s-13);
			}
			
			&__-14 {
				margin-bottom: var(--n-s-14);
			}
			
			&__-15 {
				margin-bottom: var(--n-s-15);
			}
			
			&__-16 {
				margin-bottom: var(--n-s-16);
			}
			
			&__-17 {
				margin-bottom: var(--n-s-17);
			}
			
			&__-18 {
				margin-bottom: var(--n-s-18);
			}
			
			&__0 {
				margin-bottom: var(--s-0);
			}
			
			&__1 {
				margin-bottom: var(--s-1);
			}
			
			&__2 {
				margin-bottom: var(--s-2);
			}
			
			&__3 {
				margin-bottom: var(--s-3);
			}
			
			&__4 {
				margin-bottom: var(--s-4);
			}
			
			&__5 {
				margin-bottom: var(--s-5);
			}
			
			&__6 {
				margin-bottom: var(--s-6);
			}
			
			&__7 {
				margin-bottom: var(--s-7);
			}
			
			&__8 {
				margin-bottom: var(--s-8);
			}
			
			&__9 {
				margin-bottom: var(--s-9);
			}
			
			&__10 {
				margin-bottom: var(--s-10);
			}
			
			&__11 {
				margin-bottom: var(--s-11);
			}
			
			&__12 {
				margin-bottom: var(--s-12);
			}
			
			&__13 {
				margin-bottom: var(--s-13);
			}
			
			&__14 {
				margin-bottom: var(--s-14);
			}
			
			&__15 {
				margin-bottom: var(--s-15);
			}
			
			&__16 {
				margin-bottom: var(--s-16);
			}
			
			&__17 {
				margin-bottom: var(--s-17);
			}
			
			&__18 {
				margin-bottom: var(--s-18);
			}
		}
	}
}

.editor-styles-wrapper[style*="width: 360px;"] {

	.wp-block-ainoblocks-grid-container .wp-block[data-type="ainoblocks/grid-item"] {

		&.col_start_m {
	
			&__1 {
				grid-column-start: 1;
			}
	
			&__2 {
				grid-column-start: 2;
			}
	
			&__3 {
				grid-column-start: 3;
			}
	
			&__4 {
				grid-column-start: 4;
			}
	
			&__5 {
				grid-column-start: 5;
			}
	
			&__6 {
				grid-column-start: 6;
			}
	
			&__7 {
				grid-column-start: 7;
			}
	
			&__8 {
				grid-column-start: 8;
			}
	
			&__9 {
				grid-column-start: 9;
			}
	
			&__10 {
				grid-column-start: 10;
			}
	
			&__11 {
				grid-column-start: 11;
			}
	
			&__12 {
				grid-column-start: 12;
			}
	
			&__13 {
				grid-column-start: 13;
			}
		}

		&.col_end_m {
	
			&__1 {
				grid-column-end: 1;
			}
	
			&__2 {
				grid-column-end: 2;
			}
	
			&__3 {
				grid-column-end: 3;
			}
	
			&__4 {
				grid-column-end: 4;
			}
	
			&__5 {
				grid-column-end: 5;
			}
	
			&__6 {
				grid-column-end: 6;
			}
	
			&__7 {
				grid-column-end: 7;
			}
	
			&__8 {
				grid-column-end: 8;
			}
	
			&__9 {
				grid-column-end: 9;
			}
	
			&__10 {
				grid-column-end: 10;
			}
	
			&__11 {
				grid-column-end: 11;
			}
	
			&__12 {
				grid-column-end: 12;
			}
	
			&__13 {
				grid-column-end: 13;
			}
		}

		&.mt_m {
		
			&__-1 {
				margin-top: var(--n-s-1);
			}
			
			&__-2 {
				margin-top: var(--n-s-2);
			}
			
			&__-3 {
				margin-top: var(--n-s-3);
			}
			
			&__-4 {
				margin-top: var(--n-s-4);
			}
			
			&__-5 {
				margin-top: var(--n-s-5);
			}
			
			&__-6 {
				margin-top: var(--n-s-6);
			}
			
			&__-7 {
				margin-top: var(--n-s-7);
			}
			
			&__-8 {
				margin-top: var(--n-s-8);
			}
			
			&__-9 {
				margin-top: var(--n-s-9);
			}
			
			&__-10 {
				margin-top: var(--n-s-10);
			}
			
			&__-11 {
				margin-top: var(--n-s-11);
			}
			
			&__-12 {
				margin-top: var(--n-s-12);
			}
			
			&__-13 {
				margin-top: var(--n-s-13);
			}
			
			&__-14 {
				margin-top: var(--n-s-14);
			}
			
			&__-15 {
				margin-top: var(--n-s-15);
			}
			
			&__-16 {
				margin-top: var(--n-s-16);
			}
			
			&__-17 {
				margin-top: var(--n-s-17);
			}
			
			&__-18 {
				margin-top: var(--n-s-18);
			}

			&__0 {
				margin-top: var(--s-0);
			}

			&__1 {
				margin-top: var(--s-1);
			}

			&__2 {
				margin-top: var(--s-2);
			}

			&__3 {
				margin-top: var(--s-3);
			}

			&__4 {
				margin-top: var(--s-4);
			}

			&__5 {
				margin-top: var(--s-5);
			}

			&__6 {
				margin-top: var(--s-6);
			}

			&__7 {
				margin-top: var(--s-7);
			}

			&__8 {
				margin-top: var(--s-8);
			}

			&__9 {
				margin-top: var(--s-9);
			}

			&__10 {
				margin-top: var(--s-10);
			}

			&__11 {
				margin-top: var(--s-11);
			}

			&__12 {
				margin-top: var(--s-12);
			}

			&__13 {
				margin-top: var(--s-13);
			}

			&__14 {
				margin-top: var(--s-14);
			}

			&__15 {
				margin-top: var(--s-15);
			}

			&__16 {
				margin-top: var(--s-16);
			}

			&__17 {
				margin-top: var(--s-17);
			}

			&__18 {
				margin-top: var(--s-18);
			}
		}

		&.mb_m {

			&__-1 {
				margin-bottom: var(--n-s-1);
			}
			
			&__-2 {
				margin-bottom: var(--n-s-2);
			}
			
			&__-3 {
				margin-bottom: var(--n-s-3);
			}
			
			&__-4 {
				margin-bottom: var(--n-s-4);
			}
			
			&__-5 {
				margin-bottom: var(--n-s-5);
			}
			
			&__-6 {
				margin-bottom: var(--n-s-6);
			}
			
			&__-7 {
				margin-bottom: var(--n-s-7);
			}
			
			&__-8 {
				margin-bottom: var(--n-s-8);
			}
			
			&__-9 {
				margin-bottom: var(--n-s-9);
			}
			
			&__-10 {
				margin-bottom: var(--n-s-10);
			}
			
			&__-11 {
				margin-bottom: var(--n-s-11);
			}
			
			&__-12 {
				margin-bottom: var(--n-s-12);
			}
			
			&__-13 {
				margin-bottom: var(--n-s-13);
			}
			
			&__-14 {
				margin-bottom: var(--n-s-14);
			}
			
			&__-15 {
				margin-bottom: var(--n-s-15);
			}
			
			&__-16 {
				margin-bottom: var(--n-s-16);
			}
			
			&__-17 {
				margin-bottom: var(--n-s-17);
			}
			
			&__-18 {
				margin-bottom: var(--n-s-18);
			}
			
			&__0 {
				margin-bottom: var(--s-0);
			}
			
			&__1 {
				margin-bottom: var(--s-1);
			}
			
			&__2 {
				margin-bottom: var(--s-2);
			}
			
			&__3 {
				margin-bottom: var(--s-3);
			}
			
			&__4 {
				margin-bottom: var(--s-4);
			}
			
			&__5 {
				margin-bottom: var(--s-5);
			}
			
			&__6 {
				margin-bottom: var(--s-6);
			}
			
			&__7 {
				margin-bottom: var(--s-7);
			}
			
			&__8 {
				margin-bottom: var(--s-8);
			}
			
			&__9 {
				margin-bottom: var(--s-9);
			}
			
			&__10 {
				margin-bottom: var(--s-10);
			}
			
			&__11 {
				margin-bottom: var(--s-11);
			}
			
			&__12 {
				margin-bottom: var(--s-12);
			}
			
			&__13 {
				margin-bottom: var(--s-13);
			}
			
			&__14 {
				margin-bottom: var(--s-14);
			}
			
			&__15 {
				margin-bottom: var(--s-15);
			}
			
			&__16 {
				margin-bottom: var(--s-16);
			}
			
			&__17 {
				margin-bottom: var(--s-17);
			}
			
			&__18 {
				margin-bottom: var(--s-18);
			}
		}
	}
}
