:root {

	/* Spacing */
	--s-0: 0;
	--s-1: 0.25rem;
	--s-2: 0.5rem;
	--s-3: 0.75rem;
	--s-4: 1rem;
	--s-5: 1.25rem;
	--s-6: 1.5rem;
	--s-7: 2rem;
	--s-8: 2.5rem;
	--s-9: 3rem;
	--s-10: 4rem;
	--s-11: 5rem;
	--s-12: 6rem;
	--s-13: 7.5rem;
	--s-14: 9rem;
	--s-15: 11rem;
	--s-16: 13rem;
	--s-17: 15.5rem;
	--s-18: 18rem;

	/* Negative Spacing */
	--n-s-0: 0;
	--n-s-1: -0.25rem;
	--n-s-2: -0.5rem;
	--n-s-3: -0.75rem;
	--n-s-4: -1rem;
	--n-s-5: -1.25rem;
	--n-s-6: -1.5rem;
	--n-s-7: -2rem;
	--n-s-8: -2.5rem;
	--n-s-9: -3rem;
	--n-s-10: -4rem;
	--n-s-11: -5rem;
	--n-s-12: -6rem;
	--n-s-13: -7.5rem;
	--n-s-14: -9rem;
	--n-s-15: -11rem;
	--n-s-16: -13rem;
	--n-s-17: -15.5rem;
	--n-s-18: -18rem;
}

.wp-block-ainoblocks-grid-item {
	position: relative;
	grid-row-start: 1;
	grid-row-end: 3;

	&.no-stacking {
		grid-row-start: auto;
		grid-row-end: auto;
	}

	&.no-gutter {
		padding-left: 0;
		padding-right: 0;
	}

	@media (min-width: 48em) {

		&.no-gutter {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media (min-width: 80em) {

		&.no-gutter {
			padding-left: 0;
			padding-right: 0;
		}
	}

	:last-child {
		margin-bottom: 0;
	}

	/* Responsive Grid Positioning */
	&.col_start_m {

		&__1 {
			grid-column-start: 1;
		}

		&__2 {
			grid-column-start: 2;
		}

		&__3 {
			grid-column-start: 3;
		}

		&__4 {
			grid-column-start: 4;
		}

		&__5 {
			grid-column-start: 5;
		}

		&__6 {
			grid-column-start: 6;
		}

		&__7 {
			grid-column-start: 7;
		}

		&__8 {
			grid-column-start: 8;
		}

		&__9 {
			grid-column-start: 9;
		}

		&__10 {
			grid-column-start: 10;
		}

		&__11 {
			grid-column-start: 11;
		}

		&__12 {
			grid-column-start: 12;
		}

		&__13 {
			grid-column-start: 13;
		}
	}

	&.col_end_m {

		&__1 {
			grid-column-end: 1;
		}

		&__2 {
			grid-column-end: 2;
		}

		&__3 {
			grid-column-end: 3;
		}

		&__4 {
			grid-column-end: 4;
		}

		&__5 {
			grid-column-end: 5;
		}

		&__6 {
			grid-column-end: 6;
		}

		&__7 {
			grid-column-end: 7;
		}

		&__8 {
			grid-column-end: 8;
		}

		&__9 {
			grid-column-end: 9;
		}

		&__10 {
			grid-column-end: 10;
		}

		&__11 {
			grid-column-end: 11;
		}

		&__12 {
			grid-column-end: 12;
		}

		&__13 {
			grid-column-end: 13;
		}
	}

	@media (min-width: 48em) {
		&.col_start_t {

			&__1 {
				grid-column-start: 1;
			}

			&__2 {
				grid-column-start: 2;
			}

			&__3 {
				grid-column-start: 3;
			}

			&__4 {
				grid-column-start: 4;
			}

			&__5 {
				grid-column-start: 5;
			}

			&__6 {
				grid-column-start: 6;
			}

			&__7 {
				grid-column-start: 7;
			}

			&__8 {
				grid-column-start: 8;
			}

			&__9 {
				grid-column-start: 9;
			}

			&__10 {
				grid-column-start: 10;
			}

			&__11 {
				grid-column-start: 11;
			}

			&__12 {
				grid-column-start: 12;
			}

			&__13 {
				grid-column-start: 13;
			}
		}

		&.col_end_t {

			&__1 {
				grid-column-end: 1;
			}

			&__2 {
				grid-column-end: 2;
			}

			&__3 {
				grid-column-end: 3;
			}

			&__4 {
				grid-column-end: 4;
			}

			&__5 {
				grid-column-end: 5;
			}

			&__6 {
				grid-column-end: 6;
			}

			&__7 {
				grid-column-end: 7;
			}

			&__8 {
				grid-column-end: 8;
			}

			&__9 {
				grid-column-end: 9;
			}

			&__10 {
				grid-column-end: 10;
			}

			&__11 {
				grid-column-end: 11;
			}

			&__12 {
				grid-column-end: 12;
			}

			&__13 {
				grid-column-end: 13;
			}
		}
	}

	@media (min-width: 80em) {
		&.col_start_d {

			&__1 {
				grid-column-start: 1;
			}

			&__2 {
				grid-column-start: 2;
			}

			&__3 {
				grid-column-start: 3;
			}

			&__4 {
				grid-column-start: 4;
			}

			&__5 {
				grid-column-start: 5;
			}

			&__6 {
				grid-column-start: 6;
			}

			&__7 {
				grid-column-start: 7;
			}

			&__8 {
				grid-column-start: 8;
			}

			&__9 {
				grid-column-start: 9;
			}

			&__10 {
				grid-column-start: 10;
			}

			&__11 {
				grid-column-start: 11;
			}

			&__12 {
				grid-column-start: 12;
			}

			&__13 {
				grid-column-start: 13;
			}
		}

		&.col_end_d {

			&__1 {
				grid-column-end: 1;
			}

			&__2 {
				grid-column-end: 2;
			}

			&__3 {
				grid-column-end: 3;
			}

			&__4 {
				grid-column-end: 4;
			}

			&__5 {
				grid-column-end: 5;
			}

			&__6 {
				grid-column-end: 6;
			}

			&__7 {
				grid-column-end: 7;
			}

			&__8 {
				grid-column-end: 8;
			}

			&__9 {
				grid-column-end: 9;
			}

			&__10 {
				grid-column-end: 10;
			}

			&__11 {
				grid-column-end: 11;
			}

			&__12 {
				grid-column-end: 12;
			}

			&__13 {
				grid-column-end: 13;
			}
		}
	}

	&.align-self {

		&__start {
			align-self: start;
		}

		&__end {
			align-self: end;
		}

		&__center {
			align-self: center;
		}

		&__stretch {
			align-self: stretch;
		}
	}

	&.justify-self {

		&__start {
			justify-self: start;
		}

		&__end {
			justify-self: end;
		}

		&__center {
			justify-self: center;
		}

		&__stretch {
			justify-self: stretch;
		}
	}

	&.has-stacking {
		position: absolute;
	}

	&.stack-order {

		&__1 {
			z-index: 1;
		}

		&__2 {
			z-index: 2;
		}

		&__3 {
			z-index: 3;
		}

		&__4 {
			z-index: 4;
		}

		&__5 {
			z-index: 5;
		}

		&__6 {
			z-index: 6;
		}

		&__7 {
			z-index: 7;
		}

		&__8 {
			z-index: 8;
		}

		&__9 {
			z-index: 9;
		}

		&__10 {
			z-index: 10;
		}
	}

	&.overlap-right {
		grid-column-end: 13;
		margin-right: -1rem;
	}

	&.overlap-left {
		grid-column-start: 1;
		margin-left: -1rem;
	}

	@media (min-width: 48em) {

		&.overlap-right {
			margin-right: -2rem;
		}

		&.overlap-left {
			margin-left: -2rem;
		}
	}

	/* Responsive Top and Bottom Margins */
	&.mt_m {
	
		&__-1 {
			margin-top: var(--n-s-1);
		}
		
		&__-2 {
			margin-top: var(--n-s-2);
		}
		
		&__-3 {
			margin-top: var(--n-s-3);
		}
		
		&__-4 {
			margin-top: var(--n-s-4);
		}
		
		&__-5 {
			margin-top: var(--n-s-5);
		}
		
		&__-6 {
			margin-top: var(--n-s-6);
		}
		
		&__-7 {
			margin-top: var(--n-s-7);
		}
		
		&__-8 {
			margin-top: var(--n-s-8);
		}
		
		&__-9 {
			margin-top: var(--n-s-9);
		}
		
		&__-10 {
			margin-top: var(--n-s-10);
		}
		
		&__-11 {
			margin-top: var(--n-s-11);
		}
		
		&__-12 {
			margin-top: var(--n-s-12);
		}
		
		&__-13 {
			margin-top: var(--n-s-13);
		}
		
		&__-14 {
			margin-top: var(--n-s-14);
		}
		
		&__-15 {
			margin-top: var(--n-s-15);
		}
		
		&__-16 {
			margin-top: var(--n-s-16);
		}
		
		&__-17 {
			margin-top: var(--n-s-17);
		}
		
		&__-18 {
			margin-top: var(--n-s-18);
		}

		&__0 {
			margin-top: var(--s-0);
		}

		&__1 {
			margin-top: var(--s-1);
		}

		&__2 {
			margin-top: var(--s-2);
		}

		&__3 {
			margin-top: var(--s-3);
		}

		&__4 {
			margin-top: var(--s-4);
		}

		&__5 {
			margin-top: var(--s-5);
		}

		&__6 {
			margin-top: var(--s-6);
		}

		&__7 {
			margin-top: var(--s-7);
		}

		&__8 {
			margin-top: var(--s-8);
		}

		&__9 {
			margin-top: var(--s-9);
		}

		&__10 {
			margin-top: var(--s-10);
		}

		&__11 {
			margin-top: var(--s-11);
		}

		&__12 {
			margin-top: var(--s-12);
		}

		&__13 {
			margin-top: var(--s-13);
		}

		&__14 {
			margin-top: var(--s-14);
		}

		&__15 {
			margin-top: var(--s-15);
		}

		&__16 {
			margin-top: var(--s-16);
		}

		&__17 {
			margin-top: var(--s-17);
		}

		&__18 {
			margin-top: var(--s-18);
		}
	}

	@media (min-width: 48em) {
		&.mt_t {
		
			&__-1 {
				margin-top: var(--n-s-1);
			}
			
			&__-2 {
				margin-top: var(--n-s-2);
			}
			
			&__-3 {
				margin-top: var(--n-s-3);
			}
			
			&__-4 {
				margin-top: var(--n-s-4);
			}
			
			&__-5 {
				margin-top: var(--n-s-5);
			}
			
			&__-6 {
				margin-top: var(--n-s-6);
			}
			
			&__-7 {
				margin-top: var(--n-s-7);
			}
			
			&__-8 {
				margin-top: var(--n-s-8);
			}
			
			&__-9 {
				margin-top: var(--n-s-9);
			}
			
			&__-10 {
				margin-top: var(--n-s-10);
			}
			
			&__-11 {
				margin-top: var(--n-s-11);
			}
			
			&__-12 {
				margin-top: var(--n-s-12);
			}
			
			&__-13 {
				margin-top: var(--n-s-13);
			}
			
			&__-14 {
				margin-top: var(--n-s-14);
			}
			
			&__-15 {
				margin-top: var(--n-s-15);
			}
			
			&__-16 {
				margin-top: var(--n-s-16);
			}
			
			&__-17 {
				margin-top: var(--n-s-17);
			}
			
			&__-18 {
				margin-top: var(--n-s-18);
			}

			&__0 {
				margin-top: var(--s-0);
			}

			&__1 {
				margin-top: var(--s-1);
			}

			&__2 {
				margin-top: var(--s-2);
			}

			&__3 {
				margin-top: var(--s-3);
			}

			&__4 {
				margin-top: var(--s-4);
			}

			&__5 {
				margin-top: var(--s-5);
			}

			&__6 {
				margin-top: var(--s-6);
			}

			&__7 {
				margin-top: var(--s-7);
			}

			&__8 {
				margin-top: var(--s-8);
			}

			&__9 {
				margin-top: var(--s-9);
			}

			&__10 {
				margin-top: var(--s-10);
			}

			&__11 {
				margin-top: var(--s-11);
			}

			&__12 {
				margin-top: var(--s-12);
			}

			&__13 {
				margin-top: var(--s-13);
			}

			&__14 {
				margin-top: var(--s-14);
			}

			&__15 {
				margin-top: var(--s-15);
			}

			&__16 {
				margin-top: var(--s-16);
			}

			&__17 {
				margin-top: var(--s-17);
			}

			&__18 {
				margin-top: var(--s-18);
			}
		}
	}

	@media (min-width: 80em) {
		&.mt_d {
		
			&__-1 {
				margin-top: var(--n-s-1);
			}
			
			&__-2 {
				margin-top: var(--n-s-2);
			}
			
			&__-3 {
				margin-top: var(--n-s-3);
			}
			
			&__-4 {
				margin-top: var(--n-s-4);
			}
			
			&__-5 {
				margin-top: var(--n-s-5);
			}
			
			&__-6 {
				margin-top: var(--n-s-6);
			}
			
			&__-7 {
				margin-top: var(--n-s-7);
			}
			
			&__-8 {
				margin-top: var(--n-s-8);
			}
			
			&__-9 {
				margin-top: var(--n-s-9);
			}
			
			&__-10 {
				margin-top: var(--n-s-10);
			}
			
			&__-11 {
				margin-top: var(--n-s-11);
			}
			
			&__-12 {
				margin-top: var(--n-s-12);
			}
			
			&__-13 {
				margin-top: var(--n-s-13);
			}
			
			&__-14 {
				margin-top: var(--n-s-14);
			}
			
			&__-15 {
				margin-top: var(--n-s-15);
			}
			
			&__-16 {
				margin-top: var(--n-s-16);
			}
			
			&__-17 {
				margin-top: var(--n-s-17);
			}
			
			&__-18 {
				margin-top: var(--n-s-18);
			}

			&__0 {
				margin-top: var(--s-0);
			}

			&__1 {
				margin-top: var(--s-1);
			}

			&__2 {
				margin-top: var(--s-2);
			}

			&__3 {
				margin-top: var(--s-3);
			}

			&__4 {
				margin-top: var(--s-4);
			}

			&__5 {
				margin-top: var(--s-5);
			}

			&__6 {
				margin-top: var(--s-6);
			}

			&__7 {
				margin-top: var(--s-7);
			}

			&__8 {
				margin-top: var(--s-8);
			}

			&__9 {
				margin-top: var(--s-9);
			}

			&__10 {
				margin-top: var(--s-10);
			}

			&__11 {
				margin-top: var(--s-11);
			}

			&__12 {
				margin-top: var(--s-12);
			}

			&__13 {
				margin-top: var(--s-13);
			}

			&__14 {
				margin-top: var(--s-14);
			}

			&__15 {
				margin-top: var(--s-15);
			}

			&__16 {
				margin-top: var(--s-16);
			}

			&__17 {
				margin-top: var(--s-17);
			}

			&__18 {
				margin-top: var(--s-18);
			}
		}
	}

	&.mb_m {

		&__-1 {
			margin-bottom: var(--n-s-1);
		}
		
		&__-2 {
			margin-bottom: var(--n-s-2);
		}
		
		&__-3 {
			margin-bottom: var(--n-s-3);
		}
		
		&__-4 {
			margin-bottom: var(--n-s-4);
		}
		
		&__-5 {
			margin-bottom: var(--n-s-5);
		}
		
		&__-6 {
			margin-bottom: var(--n-s-6);
		}
		
		&__-7 {
			margin-bottom: var(--n-s-7);
		}
		
		&__-8 {
			margin-bottom: var(--n-s-8);
		}
		
		&__-9 {
			margin-bottom: var(--n-s-9);
		}
		
		&__-10 {
			margin-bottom: var(--n-s-10);
		}
		
		&__-11 {
			margin-bottom: var(--n-s-11);
		}
		
		&__-12 {
			margin-bottom: var(--n-s-12);
		}
		
		&__-13 {
			margin-bottom: var(--n-s-13);
		}
		
		&__-14 {
			margin-bottom: var(--n-s-14);
		}
		
		&__-15 {
			margin-bottom: var(--n-s-15);
		}
		
		&__-16 {
			margin-bottom: var(--n-s-16);
		}
		
		&__-17 {
			margin-bottom: var(--n-s-17);
		}
		
		&__-18 {
			margin-bottom: var(--n-s-18);
		}
		
		&__0 {
			margin-bottom: var(--s-0);
		}
		
		&__1 {
			margin-bottom: var(--s-1);
		}
		
		&__2 {
			margin-bottom: var(--s-2);
		}
		
		&__3 {
			margin-bottom: var(--s-3);
		}
		
		&__4 {
			margin-bottom: var(--s-4);
		}
		
		&__5 {
			margin-bottom: var(--s-5);
		}
		
		&__6 {
			margin-bottom: var(--s-6);
		}
		
		&__7 {
			margin-bottom: var(--s-7);
		}
		
		&__8 {
			margin-bottom: var(--s-8);
		}
		
		&__9 {
			margin-bottom: var(--s-9);
		}
		
		&__10 {
			margin-bottom: var(--s-10);
		}
		
		&__11 {
			margin-bottom: var(--s-11);
		}
		
		&__12 {
			margin-bottom: var(--s-12);
		}
		
		&__13 {
			margin-bottom: var(--s-13);
		}
		
		&__14 {
			margin-bottom: var(--s-14);
		}
		
		&__15 {
			margin-bottom: var(--s-15);
		}
		
		&__16 {
			margin-bottom: var(--s-16);
		}
		
		&__17 {
			margin-bottom: var(--s-17);
		}
		
		&__18 {
			margin-bottom: var(--s-18);
		}
	}
	@media (min-width: 48em) {
		&.mb_t {

			&__-1 {
				margin-bottom: var(--n-s-1);
			}
			
			&__-2 {
				margin-bottom: var(--n-s-2);
			}
			
			&__-3 {
				margin-bottom: var(--n-s-3);
			}
			
			&__-4 {
				margin-bottom: var(--n-s-4);
			}
			
			&__-5 {
				margin-bottom: var(--n-s-5);
			}
			
			&__-6 {
				margin-bottom: var(--n-s-6);
			}
			
			&__-7 {
				margin-bottom: var(--n-s-7);
			}
			
			&__-8 {
				margin-bottom: var(--n-s-8);
			}
			
			&__-9 {
				margin-bottom: var(--n-s-9);
			}
			
			&__-10 {
				margin-bottom: var(--n-s-10);
			}
			
			&__-11 {
				margin-bottom: var(--n-s-11);
			}
			
			&__-12 {
				margin-bottom: var(--n-s-12);
			}
			
			&__-13 {
				margin-bottom: var(--n-s-13);
			}
			
			&__-14 {
				margin-bottom: var(--n-s-14);
			}
			
			&__-15 {
				margin-bottom: var(--n-s-15);
			}
			
			&__-16 {
				margin-bottom: var(--n-s-16);
			}
			
			&__-17 {
				margin-bottom: var(--n-s-17);
			}
			
			&__-18 {
				margin-bottom: var(--n-s-18);
			}
			
			&__0 {
				margin-bottom: var(--s-0);
			}
			
			&__1 {
				margin-bottom: var(--s-1);
			}
			
			&__2 {
				margin-bottom: var(--s-2);
			}
			
			&__3 {
				margin-bottom: var(--s-3);
			}
			
			&__4 {
				margin-bottom: var(--s-4);
			}
			
			&__5 {
				margin-bottom: var(--s-5);
			}
			
			&__6 {
				margin-bottom: var(--s-6);
			}
			
			&__7 {
				margin-bottom: var(--s-7);
			}
			
			&__8 {
				margin-bottom: var(--s-8);
			}
			
			&__9 {
				margin-bottom: var(--s-9);
			}
			
			&__10 {
				margin-bottom: var(--s-10);
			}
			
			&__11 {
				margin-bottom: var(--s-11);
			}
			
			&__12 {
				margin-bottom: var(--s-12);
			}
			
			&__13 {
				margin-bottom: var(--s-13);
			}
			
			&__14 {
				margin-bottom: var(--s-14);
			}
			
			&__15 {
				margin-bottom: var(--s-15);
			}
			
			&__16 {
				margin-bottom: var(--s-16);
			}
			
			&__17 {
				margin-bottom: var(--s-17);
			}
			
			&__18 {
				margin-bottom: var(--s-18);
			}
		}
	}

	@media (min-width: 80em) {
		&.mb_d {

			&__-1 {
				margin-bottom: var(--n-s-1);
			}
			
			&__-2 {
				margin-bottom: var(--n-s-2);
			}
			
			&__-3 {
				margin-bottom: var(--n-s-3);
			}
			
			&__-4 {
				margin-bottom: var(--n-s-4);
			}
			
			&__-5 {
				margin-bottom: var(--n-s-5);
			}
			
			&__-6 {
				margin-bottom: var(--n-s-6);
			}
			
			&__-7 {
				margin-bottom: var(--n-s-7);
			}
			
			&__-8 {
				margin-bottom: var(--n-s-8);
			}
			
			&__-9 {
				margin-bottom: var(--n-s-9);
			}
			
			&__-10 {
				margin-bottom: var(--n-s-10);
			}
			
			&__-11 {
				margin-bottom: var(--n-s-11);
			}
			
			&__-12 {
				margin-bottom: var(--n-s-12);
			}
			
			&__-13 {
				margin-bottom: var(--n-s-13);
			}
			
			&__-14 {
				margin-bottom: var(--n-s-14);
			}
			
			&__-15 {
				margin-bottom: var(--n-s-15);
			}
			
			&__-16 {
				margin-bottom: var(--n-s-16);
			}
			
			&__-17 {
				margin-bottom: var(--n-s-17);
			}
			
			&__-18 {
				margin-bottom: var(--n-s-18);
			}
			
			&__0 {
				margin-bottom: var(--s-0);
			}
			
			&__1 {
				margin-bottom: var(--s-1);
			}
			
			&__2 {
				margin-bottom: var(--s-2);
			}
			
			&__3 {
				margin-bottom: var(--s-3);
			}
			
			&__4 {
				margin-bottom: var(--s-4);
			}
			
			&__5 {
				margin-bottom: var(--s-5);
			}
			
			&__6 {
				margin-bottom: var(--s-6);
			}
			
			&__7 {
				margin-bottom: var(--s-7);
			}
			
			&__8 {
				margin-bottom: var(--s-8);
			}
			
			&__9 {
				margin-bottom: var(--s-9);
			}
			
			&__10 {
				margin-bottom: var(--s-10);
			}
			
			&__11 {
				margin-bottom: var(--s-11);
			}
			
			&__12 {
				margin-bottom: var(--s-12);
			}
			
			&__13 {
				margin-bottom: var(--s-13);
			}
			
			&__14 {
				margin-bottom: var(--s-14);
			}
			
			&__15 {
				margin-bottom: var(--s-15);
			}
			
			&__16 {
				margin-bottom: var(--s-16);
			}
			
			&__17 {
				margin-bottom: var(--s-17);
			}
			
			&__18 {
				margin-bottom: var(--s-18);
			}
		}
	}

	&.mr_m {
	
		&__-1 {
			margin-right: var(--n-s-1);
		}
		
		&__-2 {
			margin-right: var(--n-s-2);
		}
		
		&__-3 {
			margin-right: var(--n-s-3);
		}
		
		&__-4 {
			margin-right: var(--n-s-4);
		}
		
		&__-5 {
			margin-right: var(--n-s-5);
		}
		
		&__-6 {
			margin-right: var(--n-s-6);
		}
		
		&__-7 {
			margin-right: var(--n-s-7);
		}
		
		&__-8 {
			margin-right: var(--n-s-8);
		}
		
		&__-9 {
			margin-right: var(--n-s-9);
		}
		
		&__-10 {
			margin-right: var(--n-s-10);
		}
		
		&__-11 {
			margin-right: var(--n-s-11);
		}
		
		&__-12 {
			margin-right: var(--n-s-12);
		}
		
		&__-13 {
			margin-right: var(--n-s-13);
		}
		
		&__-14 {
			margin-right: var(--n-s-14);
		}
		
		&__-15 {
			margin-right: var(--n-s-15);
		}
		
		&__-16 {
			margin-right: var(--n-s-16);
		}
		
		&__-17 {
			margin-right: var(--n-s-17);
		}
		
		&__-18 {
			margin-right: var(--n-s-18);
		}
	
		&__0 {
			margin-right: var(--s-0);
		}
	
		&__1 {
			margin-right: var(--s-1);
		}
	
		&__2 {
			margin-right: var(--s-2);
		}
	
		&__3 {
			margin-right: var(--s-3);
		}
	
		&__4 {
			margin-right: var(--s-4);
		}
	
		&__5 {
			margin-right: var(--s-5);
		}
	
		&__6 {
			margin-right: var(--s-6);
		}
	
		&__7 {
			margin-right: var(--s-7);
		}
	
		&__8 {
			margin-right: var(--s-8);
		}
	
		&__9 {
			margin-right: var(--s-9);
		}
	
		&__10 {
			margin-right: var(--s-10);
		}
	
		&__11 {
			margin-right: var(--s-11);
		}
	
		&__12 {
			margin-right: var(--s-12);
		}
	
		&__13 {
			margin-right: var(--s-13);
		}
	
		&__14 {
			margin-right: var(--s-14);
		}
	
		&__15 {
			margin-right: var(--s-15);
		}
	
		&__16 {
			margin-right: var(--s-16);
		}
	
		&__17 {
			margin-right: var(--s-17);
		}
	
		&__18 {
			margin-right: var(--s-18);
		}
	}
	
	@media (min-width: 48em) {
		&.mr_t {
		
			&__-1 {
				margin-right: var(--n-s-1);
			}
			
			&__-2 {
				margin-right: var(--n-s-2);
			}
			
			&__-3 {
				margin-right: var(--n-s-3);
			}
			
			&__-4 {
				margin-right: var(--n-s-4);
			}
			
			&__-5 {
				margin-right: var(--n-s-5);
			}
			
			&__-6 {
				margin-right: var(--n-s-6);
			}
			
			&__-7 {
				margin-right: var(--n-s-7);
			}
			
			&__-8 {
				margin-right: var(--n-s-8);
			}
			
			&__-9 {
				margin-right: var(--n-s-9);
			}
			
			&__-10 {
				margin-right: var(--n-s-10);
			}
			
			&__-11 {
				margin-right: var(--n-s-11);
			}
			
			&__-12 {
				margin-right: var(--n-s-12);
			}
			
			&__-13 {
				margin-right: var(--n-s-13);
			}
			
			&__-14 {
				margin-right: var(--n-s-14);
			}
			
			&__-15 {
				margin-right: var(--n-s-15);
			}
			
			&__-16 {
				margin-right: var(--n-s-16);
			}
			
			&__-17 {
				margin-right: var(--n-s-17);
			}
			
			&__-18 {
				margin-right: var(--n-s-18);
			}
	
			&__0 {
				margin-right: var(--s-0);
			}
	
			&__1 {
				margin-right: var(--s-1);
			}
	
			&__2 {
				margin-right: var(--s-2);
			}
	
			&__3 {
				margin-right: var(--s-3);
			}
	
			&__4 {
				margin-right: var(--s-4);
			}
	
			&__5 {
				margin-right: var(--s-5);
			}
	
			&__6 {
				margin-right: var(--s-6);
			}
	
			&__7 {
				margin-right: var(--s-7);
			}
	
			&__8 {
				margin-right: var(--s-8);
			}
	
			&__9 {
				margin-right: var(--s-9);
			}
	
			&__10 {
				margin-right: var(--s-10);
			}
	
			&__11 {
				margin-right: var(--s-11);
			}
	
			&__12 {
				margin-right: var(--s-12);
			}
	
			&__13 {
				margin-right: var(--s-13);
			}
	
			&__14 {
				margin-right: var(--s-14);
			}
	
			&__15 {
				margin-right: var(--s-15);
			}
	
			&__16 {
				margin-right: var(--s-16);
			}
	
			&__17 {
				margin-right: var(--s-17);
			}
	
			&__18 {
				margin-right: var(--s-18);
			}
		}
	}
	
	@media (min-width: 80em) {
		&.mr_d {
		
			&__-1 {
				margin-right: var(--n-s-1);
			}
			
			&__-2 {
				margin-right: var(--n-s-2);
			}
			
			&__-3 {
				margin-right: var(--n-s-3);
			}
			
			&__-4 {
				margin-right: var(--n-s-4);
			}
			
			&__-5 {
				margin-right: var(--n-s-5);
			}
			
			&__-6 {
				margin-right: var(--n-s-6);
			}
			
			&__-7 {
				margin-right: var(--n-s-7);
			}
			
			&__-8 {
				margin-right: var(--n-s-8);
			}
			
			&__-9 {
				margin-right: var(--n-s-9);
			}
			
			&__-10 {
				margin-right: var(--n-s-10);
			}
			
			&__-11 {
				margin-right: var(--n-s-11);
			}
			
			&__-12 {
				margin-right: var(--n-s-12);
			}
			
			&__-13 {
				margin-right: var(--n-s-13);
			}
			
			&__-14 {
				margin-right: var(--n-s-14);
			}
			
			&__-15 {
				margin-right: var(--n-s-15);
			}
			
			&__-16 {
				margin-right: var(--n-s-16);
			}
			
			&__-17 {
				margin-right: var(--n-s-17);
			}
			
			&__-18 {
				margin-right: var(--n-s-18);
			}
	
			&__0 {
				margin-right: var(--s-0);
			}
	
			&__1 {
				margin-right: var(--s-1);
			}
	
			&__2 {
				margin-right: var(--s-2);
			}
	
			&__3 {
				margin-right: var(--s-3);
			}
	
			&__4 {
				margin-right: var(--s-4);
			}
	
			&__5 {
				margin-right: var(--s-5);
			}
	
			&__6 {
				margin-right: var(--s-6);
			}
	
			&__7 {
				margin-right: var(--s-7);
			}
	
			&__8 {
				margin-right: var(--s-8);
			}
	
			&__9 {
				margin-right: var(--s-9);
			}
	
			&__10 {
				margin-right: var(--s-10);
			}
	
			&__11 {
				margin-right: var(--s-11);
			}
	
			&__12 {
				margin-right: var(--s-12);
			}
	
			&__13 {
				margin-right: var(--s-13);
			}
	
			&__14 {
				margin-right: var(--s-14);
			}
	
			&__15 {
				margin-right: var(--s-15);
			}
	
			&__16 {
				margin-right: var(--s-16);
			}
	
			&__17 {
				margin-right: var(--s-17);
			}
	
			&__18 {
				margin-right: var(--s-18);
			}
		}
	}
	&.ml_m {
	
		&__-1 {
			margin-left: var(--n-s-1);
		}
		
		&__-2 {
			margin-left: var(--n-s-2);
		}
		
		&__-3 {
			margin-left: var(--n-s-3);
		}
		
		&__-4 {
			margin-left: var(--n-s-4);
		}
		
		&__-5 {
			margin-left: var(--n-s-5);
		}
		
		&__-6 {
			margin-left: var(--n-s-6);
		}
		
		&__-7 {
			margin-left: var(--n-s-7);
		}
		
		&__-8 {
			margin-left: var(--n-s-8);
		}
		
		&__-9 {
			margin-left: var(--n-s-9);
		}
		
		&__-10 {
			margin-left: var(--n-s-10);
		}
		
		&__-11 {
			margin-left: var(--n-s-11);
		}
		
		&__-12 {
			margin-left: var(--n-s-12);
		}
		
		&__-13 {
			margin-left: var(--n-s-13);
		}
		
		&__-14 {
			margin-left: var(--n-s-14);
		}
		
		&__-15 {
			margin-left: var(--n-s-15);
		}
		
		&__-16 {
			margin-left: var(--n-s-16);
		}
		
		&__-17 {
			margin-left: var(--n-s-17);
		}
		
		&__-18 {
			margin-left: var(--n-s-18);
		}
	
		&__0 {
			margin-left: var(--s-0);
		}
	
		&__1 {
			margin-left: var(--s-1);
		}
	
		&__2 {
			margin-left: var(--s-2);
		}
	
		&__3 {
			margin-left: var(--s-3);
		}
	
		&__4 {
			margin-left: var(--s-4);
		}
	
		&__5 {
			margin-left: var(--s-5);
		}
	
		&__6 {
			margin-left: var(--s-6);
		}
	
		&__7 {
			margin-left: var(--s-7);
		}
	
		&__8 {
			margin-left: var(--s-8);
		}
	
		&__9 {
			margin-left: var(--s-9);
		}
	
		&__10 {
			margin-left: var(--s-10);
		}
	
		&__11 {
			margin-left: var(--s-11);
		}
	
		&__12 {
			margin-left: var(--s-12);
		}
	
		&__13 {
			margin-left: var(--s-13);
		}
	
		&__14 {
			margin-left: var(--s-14);
		}
	
		&__15 {
			margin-left: var(--s-15);
		}
	
		&__16 {
			margin-left: var(--s-16);
		}
	
		&__17 {
			margin-left: var(--s-17);
		}
	
		&__18 {
			margin-left: var(--s-18);
		}
	}
	
	@media (min-width: 48em) {
		&.ml_t {
		
			&__-1 {
				margin-left: var(--n-s-1);
			}
			
			&__-2 {
				margin-left: var(--n-s-2);
			}
			
			&__-3 {
				margin-left: var(--n-s-3);
			}
			
			&__-4 {
				margin-left: var(--n-s-4);
			}
			
			&__-5 {
				margin-left: var(--n-s-5);
			}
			
			&__-6 {
				margin-left: var(--n-s-6);
			}
			
			&__-7 {
				margin-left: var(--n-s-7);
			}
			
			&__-8 {
				margin-left: var(--n-s-8);
			}
			
			&__-9 {
				margin-left: var(--n-s-9);
			}
			
			&__-10 {
				margin-left: var(--n-s-10);
			}
			
			&__-11 {
				margin-left: var(--n-s-11);
			}
			
			&__-12 {
				margin-left: var(--n-s-12);
			}
			
			&__-13 {
				margin-left: var(--n-s-13);
			}
			
			&__-14 {
				margin-left: var(--n-s-14);
			}
			
			&__-15 {
				margin-left: var(--n-s-15);
			}
			
			&__-16 {
				margin-left: var(--n-s-16);
			}
			
			&__-17 {
				margin-left: var(--n-s-17);
			}
			
			&__-18 {
				margin-left: var(--n-s-18);
			}
	
			&__0 {
				margin-left: var(--s-0);
			}
	
			&__1 {
				margin-left: var(--s-1);
			}
	
			&__2 {
				margin-left: var(--s-2);
			}
	
			&__3 {
				margin-left: var(--s-3);
			}
	
			&__4 {
				margin-left: var(--s-4);
			}
	
			&__5 {
				margin-left: var(--s-5);
			}
	
			&__6 {
				margin-left: var(--s-6);
			}
	
			&__7 {
				margin-left: var(--s-7);
			}
	
			&__8 {
				margin-left: var(--s-8);
			}
	
			&__9 {
				margin-left: var(--s-9);
			}
	
			&__10 {
				margin-left: var(--s-10);
			}
	
			&__11 {
				margin-left: var(--s-11);
			}
	
			&__12 {
				margin-left: var(--s-12);
			}
	
			&__13 {
				margin-left: var(--s-13);
			}
	
			&__14 {
				margin-left: var(--s-14);
			}
	
			&__15 {
				margin-left: var(--s-15);
			}
	
			&__16 {
				margin-left: var(--s-16);
			}
	
			&__17 {
				margin-left: var(--s-17);
			}
	
			&__18 {
				margin-left: var(--s-18);
			}
		}
	}
	
	@media (min-width: 80em) {
		&.ml_d {
		
			&__-1 {
				margin-left: var(--n-s-1);
			}
			
			&__-2 {
				margin-left: var(--n-s-2);
			}
			
			&__-3 {
				margin-left: var(--n-s-3);
			}
			
			&__-4 {
				margin-left: var(--n-s-4);
			}
			
			&__-5 {
				margin-left: var(--n-s-5);
			}
			
			&__-6 {
				margin-left: var(--n-s-6);
			}
			
			&__-7 {
				margin-left: var(--n-s-7);
			}
			
			&__-8 {
				margin-left: var(--n-s-8);
			}
			
			&__-9 {
				margin-left: var(--n-s-9);
			}
			
			&__-10 {
				margin-left: var(--n-s-10);
			}
			
			&__-11 {
				margin-left: var(--n-s-11);
			}
			
			&__-12 {
				margin-left: var(--n-s-12);
			}
			
			&__-13 {
				margin-left: var(--n-s-13);
			}
			
			&__-14 {
				margin-left: var(--n-s-14);
			}
			
			&__-15 {
				margin-left: var(--n-s-15);
			}
			
			&__-16 {
				margin-left: var(--n-s-16);
			}
			
			&__-17 {
				margin-left: var(--n-s-17);
			}
			
			&__-18 {
				margin-left: var(--n-s-18);
			}
	
			&__0 {
				margin-left: var(--s-0);
			}
	
			&__1 {
				margin-left: var(--s-1);
			}
	
			&__2 {
				margin-left: var(--s-2);
			}
	
			&__3 {
				margin-left: var(--s-3);
			}
	
			&__4 {
				margin-left: var(--s-4);
			}
	
			&__5 {
				margin-left: var(--s-5);
			}
	
			&__6 {
				margin-left: var(--s-6);
			}
	
			&__7 {
				margin-left: var(--s-7);
			}
	
			&__8 {
				margin-left: var(--s-8);
			}
	
			&__9 {
				margin-left: var(--s-9);
			}
	
			&__10 {
				margin-left: var(--s-10);
			}
	
			&__11 {
				margin-left: var(--s-11);
			}
	
			&__12 {
				margin-left: var(--s-12);
			}
	
			&__13 {
				margin-left: var(--s-13);
			}
	
			&__14 {
				margin-left: var(--s-14);
			}
	
			&__15 {
				margin-left: var(--s-15);
			}
	
			&__16 {
				margin-left: var(--s-16);
			}
	
			&__17 {
				margin-left: var(--s-17);
			}
	
			&__18 {
				margin-left: var(--s-18);
			}
		}
	}
}