.wp-block-ainoblocks-grid-container>.block-editor-inner-blocks>.block-editor-block-list__layout {
	position: relative;
	word-break: break-word;
	overflow-wrap: break-word;

		@media (min-width: 48em) {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: repeat(12, 1fr);
			justify-content: center;
			column-gap: 2rem;
		}

		@media (min-width: 80rem) {
			column-gap: 3rem;
		}
}

.wp-block-ainoblocks-grid-container.no-gap-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout {
	column-gap: 0;
}

@media (min-width: 48rem) {
	.wp-block-ainoblocks-grid-container.no-gap-tablet > .block-editor-inner-blocks > .block-editor-block-list__layout {
		column-gap: 0;

	}
}

@media (min-width: 80rem) {
	.wp-block-ainoblocks-grid-container.no-gap-desktop > .block-editor-inner-blocks > .block-editor-block-list__layout {
		column-gap: 0;

	}
}

.wp-block-ainoblocks-grid-container.is-selected>.block-editor-inner-blocks>.block-editor-block-list__layout,
.wp-block-ainoblocks-grid-container.has-child-selected>.block-editor-inner-blocks>.block-editor-block-list__layout {
	background:
		linear-gradient(#3399FF, #3399FF) 100% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 91.6666666% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 83.333333333333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 75.000000003333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 66.666666673333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 58.333333343333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 50.000000013333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 41.666666683333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 33.333333353333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 25.000000023333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 16.666666693333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 8.333333363333334% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 0% 1px / 1px,
		linear-gradient(#3399FF, #3399FF) 1px 100% / 100% 1px,
		linear-gradient(#3399FF, #3399FF) 1px 0% / 100% 1px;
	background-repeat: no-repeat;
}

.wp-block .block-editor-block-list__block[data-type="ainoblocks/grid-container"] .wp-block-ainoblocks-grid-container {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-ainoblocks-grid-container {

	.block-editor-inner-blocks .block-editor-block-list__layout :not(.wp-block-ainoblocks-grid-item) {

		.block-editor-button-block-appender.block-list-appender__toggle {
			position: absolute;
			min-width: 120px;
			margin-left: 0;
			align-items: center;
		}
	}
}

.wp-block-ainoblocks-grid-container {

	&.col-gap-none {

		.block-editor-block-list__layout {
			column-gap: 0;
		}
	}

	&.col-gap-s {

		.block-editor-block-list__layout {
			column-gap: 0.5rem;

			@media (min-width: 64rem) {
				column-gap: 1rem;
			}
		}
	}

	&.col-gap-m {

		.block-editor-block-list__layout {
			column-gap: 1rem;

			@media (min-width: 64rem) {
				column-gap: 2rem;
			}
		}
	}

	&.col-gap-l {

		.block-editor-block-list__layout {
			column-gap: 1rem;

			@media (min-width: 48rem) {
				column-gap: 2rem;
			}
	
			@media (min-width: 80rem) {
				column-gap: 3rem;
			}
		}
	}
}