.wp-block-ainoblocks-grid-container {
	padding-left: 0 !important;
	padding-right: 0 !important;


	&__inner {
	position: relative;
	word-break: break-word;
	overflow-wrap: break-word;

		@media (min-width: 48.5em) {
			display: grid;
			grid-template-columns: repeat(12, 1fr); // 120px column width on 1440px screens.
			justify-content: center;
		}
	}
}
