.wp-block-ainoblocks-grid-container {
	padding-left: 0 !important;
	padding-right: 0 !important;

	&__inner {
		display: grid;
		grid-template-columns: repeat(12, 1fr); // 120px columns on 1440px screens.
		position: relative;
		justify-content: center;
		word-break: break-word;
		overflow-wrap: break-word;
	}
}
