.wp-block-ainoblocks-grid-container,
.site-content .hentry .wp-block-ainoblocks-grid-container.alignwide,
.site-content .hentry .alignfull .wp-block-ainoblocks-grid-container.alignwide {
	overflow: visible;
	max-width: 100vw;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	@media (min-width: 48em) {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	@media (min-width: 80em) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	@media (min-width: 96em) {
		padding-left: 0;
		padding-right: 0;
	}

	&__inner {
		position: relative;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(12, 1fr);
		justify-content: center;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		word-break: break-word;
		overflow-wrap: break-word;
	}
}

.wp-block-ainoblocks-grid-container.alignwide {

	@media (min-width: 96rem) {
		width: auto;
		max-width: 93rem !important;
	}
}

.site-content .hentry .wp-block-ainoblocks-grid-container.alignfull,
.site-content .hentry .alignfull .wp-block-ainoblocks-grid-container.alignfull {
	padding-left: 0;
	padding-right: 0;
	max-width: 100% !important;


	.wp-block-ainoblocks-grid-item {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}