.block-editor-block-list__layout .block-editor-block-list__block[data-type="ainoblocks/multiple-buttons"] {

	.block-editor-block-list__block-edit {
		float: none;
		margin-right: 0;
	}

	.wp-block-ainoblocks-multiple-buttons.alignleft,
	.wp-block-ainoblocks-multiple-buttons.alignright {
		max-width: 100%;
	}

	.wp-block-ainoblocks-multiple-buttons__inner {

		&.stretch {
			width: 100% !important;

			.block-editor-inner-blocks,
			.wp-block-ainoblocks-button__link {
				width: 100% !important;
			}
		}
	}
}

.wp-block-ainoblocks-multiple-buttons {

	.block-editor-inner-blocks .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

	&.aligncenter {
		.wp-block-ainoblocks-button {
			text-align: center;
		}
	}
}

.wp-block-ainoblocks-button__inline-link {
	color:#555d66;
	height: 0;
	overflow: hidden;
	max-width: 290px;

	&-input__suggestions {
		max-width: 290px;
	}

	.is-selected &,
	.is-typing & {
		height: auto;
		overflow: visible;
		margin-top: 16px;
	}
}
