.wp-block-ainoblocks-multiple-buttons {
	display: flex;

	&.aligncenter {
		justify-content: center;
	}

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}

	.wp-block-ainoblocks-multiple-buttons__inner {

		display: block;

		@media (min-width: 48em) {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		.wp-block-ainoblocks-button {

			&:not(:last-child) {
				margin-bottom: 16px;
			}

			@media (min-width: 48em) {
				margin-left: 16px;

				&:not(:last-child) {
					margin-bottom: 0;
				}

				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
}
