.wp-block-ainoblocks-multiple-buttons {
	display: flex;

	&.aligncenter {
		justify-content: center;
	}

	&.alignleft {
		justify-content: flex-start;
	}

	&.alignright {
		justify-content: flex-end;
	}

	&.direction {

		&__rowrev {
			flex-direction: row-reverse;
		}

		&__row {
			flex-direction: row;
		}

		&__col {

			flex-direction: column;
		}

		&__colrev {
			flex-direction: column-reverse;
		}
	}

	.wp-block-ainoblocks-multiple-buttons__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		&.stretch {
			width: 100% !important;

			.wp-block-ainoblocks-button {
				width: 100% !important;
			}
		}
	}
}
